<div class="bear-container">
    <div class="filter-toggle-wrapper" *ngIf="!isDesktop">
        <button class="toggle-filter-btn" (click)="toggleFilter()">
            <!-- icon SVG filter -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M6 10.5v5l4-2.5V10.5H6zm-4-7A.5.5 0 0 1 2.5 3h11a.5.5 0 0 1 .39.81l-5.11 6.25a.5.5 0 0 0-.13.34V14a.5.5 0 0 1-1 0v-3.6a.5.5 0 0 0-.13-.34L1.61 3.81A.5.5 0 0 1 2 3.5z" />
            </svg>
        </button>
    </div>



    <div class="filter-box" [ngClass]="{'show': showFilter}" *ngIf="showFilter || isDesktop">

        <div class="filter-left">
            <div class="filter-item">
                <input type="text" placeholder="Từ ngày" bsDatepicker [(ngModel)]="dateFrom" [bsConfig]="{
      containerClass: 'theme-datepicker',
      dateInputFormat: 'DD/MM/YYYY',  showWeekNumbers: false

    }" (bsValueChange)="onDateFromChange($event)">
            </div>

            <div class="filter-item">
                <input type="text" placeholder="Đến ngày" bsDatepicker [(ngModel)]="dateTo" [bsConfig]="{
      containerClass: 'theme-datepicker',
      dateInputFormat: 'DD/MM/YYYY',  showWeekNumbers: false

    }" (bsValueChange)="onDateToChange($event)">
            </div>

        </div>

        <!-- Right group: tìm kiếm -->
        <div class="filter-right">
            <div class="filter-item">
                <input type="text" placeholder="Nhập tên, mã..." [(ngModel)]="searchText" (input)="applyFilter()">
            </div>
        </div>
    </div>

    <div class="bear-header">
        <div class="h-col title">Tiêu đề</div>
        <div class="h-col desc text-center">Ngôn ngữ</div>
        <div class="h-col price">Phí tải</div>
        <div class="h-col title">Người mua</div>
        <div class="h-col title">Link tải xuống</div>
        <div class="h-col title">Ngày mua</div>

    </div>

    <div class="bear-list">
        <div class="bear-item" *ngFor="let item of pagedData" (click)="clickOrder(item)"
            [ngClass]="{'bear-item-selected': order_id?.id === item?.id}">
            <div class="col title">{{ item.title }}</div>

            <div class="col title text-center">{{ item.categoryName }}</div>

            <div class="col price text-danger">{{ item.price | number }} đ</div>
            <div class="col title">
                <div class="d-flex align-items-center gap-2">
                    <img [src]="item.avatar || 'assets/images/default-avatar.png'" title="{{ item.fullName }}"
                        alt="avatar" class="avatar">
                    <p class="mb-0">{{ item.fullName }}</p>
                </div>
            </div>
            <style>
                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1px solid #ddd;
                }
            </style>
            <div class="col zip ">
                <a [href]="item.zipPath" target="_blank">{{item.zipPath}}</a>
            </div>
            <div class="col date">{{ item.createdAt | date:'dd/MM/yyyy HH:mm' }}</div>

        </div>
        <div class="pagination">
            <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">‹</button>

            <span>Trang {{ currentPage }} / {{ totalPages }}</span>

            <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">›</button>
        </div>
    </div>

</div>