<app-form [headerDiv]="tables" [text]="text" [showoffcanvas]="showcproject_add" (closePupAdd)="close()"
    [tabTemplates]="{category: categoryContent, setting: setting}">
</app-form>
<ng-template #categoryContent>
    <div class="mb-3">
        <label for="code" class="form-label small">Tên dự án</label>
        <input type="text" id="title" name="title" class="form-control form-control-sm" (input)="onNameChange()"
            [(ngModel)]="project.title" />
    </div>
    <!-- Chọn file ZIP -->
    <div class="mb-3">
        <div class="custom-file">
            <input type="file" id="zip" name="zip" class="form-control form-control-sm"
                (change)="onFileSelected_zip($event)" accept=".zip" #zipInput style="display: none" />
            <a href="javascript:void(0)" class="custom-file-link" (click)="zipInput.click()">
                Chọn file ZIP
            </a>
        </div>
        <div *ngIf="selectedFile_zip" class="file-card mt-2">
            <span class="file-icon">📁</span>
            <span class="file-name">{{ selectedZipName }}</span>
            <button type="button" class="remove-file" (click)="removeSelectedZip()">✖</button>
        </div>
    </div>
    <!-- <div class="mb-3">
        <label for="description" class="form-label small">Mô tả</label>
        <textarea id="description" name="description" class="form-control form-control-sm"
            [(ngModel)]="project.description" rows="3"></textarea>
    </div> -->


    <div class="mb-3">
        <label class="form-label small">Mô tả</label>
        <div class="toolbar">
            <button (click)="exec('bold')">B</button>
            <button (click)="exec('italic')"><i>I</i></button>
            <button (click)="exec('underline')"><u>U</u></button>

            <input type="color" (change)="changeColor($event)" title="Chọn màu">
            <button (click)="exec('fontSize', 5)">Big</button>

            <!-- <input type="file" (change)="insertImage($event)"> -->
        </div>
        <div class="editor" contenteditable="true" (input)="onInput($event)" [innerHTML]="project.description | linebreaks">
        </div>
    </div>

    <div class="mb-3">
        <label for="category" class="form-label small">Danh mục</label>
        <select id="category" name="category" class="form-control form-control-sm" [(ngModel)]="project.categoryId">
            <option *ngFor="let cat of category" [value]="cat.id">
                {{ cat.name }}
            </option>
        </select>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label small">Giá</label>
        <input type="number" id="price" name="price" class="form-control form-control-sm" [(ngModel)]="project.price" />
    </div>
    <!-- Chọn ảnh -->
    <div class="mb-3">
        <div class="custom-file">
            <input type="file" id="image" name="image" class="form-control form-control-sm"
                (change)="onFileSelected_img($event)" #imageInput style="display: none" />
            <a href="javascript:void(0)" class="custom-file-link" (click)="imageInput.click()">
                Chọn ảnh
            </a>
        </div>
        <img *ngIf="previewImg" [src]="previewImg" alt="Thumbnail" class="img-fluid mt-1" style="max-height: 120px;">
    </div>
    <!-- NHIỀU ẢNH -->
    <div class="mb-3">
        <div class="custom-file">
            <input type="file" id="images" name="images" class="form-control form-control-sm" multiple
                (change)="onFileSelected_images($event)" #imagesInput style="display: none" accept="image/*" />

            <a href="javascript:void(0)" class="custom-file-link" (click)="imagesInput.click()">
                Chọn nhiều ảnh
            </a>
        </div>

        <!-- Preview nhiều ảnh -->
        <div class="d-flex flex-wrap mt-2" *ngIf="previewImages.length">
            <img *ngFor="let img of previewImages" [src]="img" class="img-thumbnail me-2 mb-2" style="height: 100px;">
        </div>
    </div>

    <div class="offcanvas-footer">
        <button type="button" class="btn btn-primary px-4" (click)="save()">
            <i class="fa fa-save"></i>
            Lưu
        </button>
    </div>
</ng-template>
<ng-template #setting>
    <div class="mb-3">
        <label for="version" class="form-label small">Phiên bản</label>
        <input type="text" id="version" name="version" class="form-control form-control-sm"
            [(ngModel)]="project.version" />
    </div>
    <div class="offcanvas-footer">
        <button type="button" class="btn btn-primary px-4" (click)="save()">
            <i class="fa fa-save"></i>
            Lưu
        </button>
    </div>
</ng-template>