.custom-file-link {
    display: inline-block;
    padding: 5px 10px;
    // background-color: #007bff;
    color: #007bff;
    border: 1px solid #007bff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}
/* ===================== */
/*       TOOLBAR         */
/* ===================== */

.toolbar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  margin-bottom: 10px;

  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.toolbar button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #ffffff;
  border-radius: 4px;

  cursor: pointer;
  font-weight: bold;

  transition: 0.2s;
}

.toolbar button:hover {
  background: #eaeaea;
}

.toolbar button:active {
  background: #dcdcdc;
}

.toolbar input[type="file"] {
  padding: 3px;
}

/* ===================== */
/*        EDITOR         */
/* ===================== */

.editor {
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 6px;
  background: #fff;

  font-size: 15px;
  line-height: 1.5;
}

.editor:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.25);
}

/* Khi chèn ảnh, ảnh tự co lại */
.editor img {
  max-width: 100%;
  height: auto;
  margin-top: 6px;
}


.file-card {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    background: #f5f5f5;
    border-radius: 6px;
    font-size: 14px;
    gap: 8px;
}

.file-icon {
    font-size: 18px;
}

.file-name {
    flex: 1;
    /* chiếm hết chỗ còn lại */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.remove-file {
    background: transparent;
    border: none;
    color: #e53935;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
}

.btn-outline-black {
    border-color: #dee2e6;
}

.btn-outline-black:hover {
    background-color: #dee2e6;
    color: white;
    border-color: #dee2e6;
}


app-category-icon {
    z-index: 1950 !important;
}

.furniture-list {
    padding: 6px;
    font-size: 14px;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    width: 100%;
    max-height: 40px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.furniture-list::-webkit-scrollbar {
    width: 8px;
}

.furniture-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.furniture-list::-webkit-scrollbar-thumb:hover {
    background-color: #dee2e6;
}

.tenant-tag {
    position: relative;
    display: inline-block;
    background-color: #e9ecef;
    border-radius: 12px;
    padding: 5px 5px;
    margin: 3px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.input-box {
    border: none;
    outline: none;
    flex-grow: 1;
    min-width: 100px;
}

.offcanvas-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
    background: white;
    text-align: right;
    left: 0;
    z-index: 1060 !important;
}