<div class="admin-layout">
  <app-header [settings]="settings" (languageChange)="onLanguageChange($event)"></app-header>
  <app-toolbar [language]="selectedLanguage" [tableName]="tableName" [count]="count" [text]="text"
    [buttonNone]="buttonNone" (showButtonss)="evetnbuttons($event)" (showPupAdd)="onChildClick($event)"></app-toolbar>
  <div class="admin-body">
    <app-sidebar></app-sidebar>
    <div class="admin-content">
      <!-- <router-outlet></router-outlet> -->
      <ng-container *ngFor="let entry of tabTemplates | keyvalue">
        <ng-container [ngTemplateOutlet]="entry.value"></ng-container>
      </ng-container>
    </div>
  </div>
  <app-chat [data]="conversations"></app-chat>
</div>