<div class="card-header hot-code p-t-15 p-b-0">
    <h4 class="text-danger mb-2 h4">
        <i class="fab fa-hotjar"></i> Code mới nhất
    </h4>
</div>
<div *ngFor="let car of project_list" class="car-item mb-3">
    <div class="row justify-content-between">
        <div class="col-5">
            <a href=""><img [src]="car.thumbnailUrl" width="100" height="60" alt=""></a>
        </div>
        <div class="col-7">
            <h3><a [routerLink]="['/source-code', car.slug]">{{ car.title }}</a></h3>
            <div class="code-price d-flex justify-content-between">
                <strong>{{ car.price | number }} đ</strong>
                <span class="color-view">
                    {{car.viewCount}} <i class="fas fa-eye"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-between">
            <div class="">
                <a class="f-13 text" href="https://giaodichcode.com/danh-muc-source-code?category=khac"
                    title="Danh mục Khác">
                    <i class="fas fa-code"></i>
                    <span class="fw-bold">{{ car.categoryName }}</span>
                </a>
            </div>
            <div class="rating">
                <i *ngFor="let s of [1,2,3,4,5]" class="fa-star" [ngClass]="s <= car.star ? 'fas active' : 'far'">
                </i>
            </div>
        </div>
    </div>
</div>