<app-layout [text]="'Cài đặt'" (dataEvent)="receiveData($event)" [tabTemplates]="{List}">
</app-layout>
<ng-template #List>

    <div class="container">
        <ul class="nav nav-tabs" id="settingsTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="site-tab" data-bs-toggle="tab" data-bs-target="#site" type="button"
                    role="tab">Cài đặt trang</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment" type="button"
                    role="tab">Cài đặt thanh toán</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="email-tab" data-bs-toggle="tab" data-bs-target="#email" type="button"
                    role="tab">Cài đặt Email</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="theme-tab" data-bs-toggle="tab" data-bs-target="#theme" type="button"
                    role="tab">Giao diện</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="seo-tab" data-bs-toggle="tab" data-bs-target="#seo" type="button"
                    role="tab">Cài đặt SEO</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="security-tab" data-bs-toggle="tab" data-bs-target="#security" type="button"
                    role="tab">Bảo mật</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="notification-tab" data-bs-toggle="tab" data-bs-target="#notification"
                    type="button" role="tab">Thông báo</button>
            </li>
        </ul>

        <div class="tab-content" id="settingsTabContent">
            <!-- Site Settings -->
            <div class="tab-pane fade show active" id="site" role="tabpanel">
                <div class="form-section">
                    <h5>Cài đặt trang</h5>
                    <div class="mb-3">
                        <label for="siteName" class="form-label">Tên trang</label>
                        <input type="text" class="form-control" id="siteName"
                            [(ngModel)]="setting.SiteSettings.siteName" placeholder="Nhập tên trang">
                    </div>
                    <!-- /logo/logo.png -->
                    <div class="row ">
                        <div class="col-6">
                            <div class="mb-3">
                                <div class="custom-file">
                                    <input type="file" id="image" name="image" class="form-control form-control-sm"
                                        (change)="onFileSelected_img_logo($event)" #imageInput style="display: none" />
                                    <a href="javascript:void(0)" class="custom-file-link" (click)="imageInput.click()">
                                        Chọn Logo
                                    </a>
                                </div>
                                <img *ngIf="previewImg_logo" [src]="previewImg_logo" alt="Thumbnail" class="img-fluid mt-1"
                                    style="max-height: 120px;">
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <label class="image-box">
                                <input type="file" hidden accept="image" (change)="onFileSelected_img_avatar($event)">
                                <ng-container>
                                    <div class="icon">📷</div>
                                    <p>Tải ảnh người dùng (mặc định)</p>
                                </ng-container>
                                <img *ngIf="previewImg_avatar" [src]="previewImg_avatar" class="preview-img">
                            </label>
                        </div>
                    </div>

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="maintenanceMode"
                            [(ngModel)]="setting.SiteSettings.maintenanceMode">
                        <label class="form-check-label" for="maintenanceMode">Chế độ bảo trì</label>
                    </div>

                    <div class="mb-3" style="width: 50%;">
                        <label for="defaultLanguage" class="form-label">Ngôn ngữ mặc định</label>
                        <select class="form-select" id="defaultLanguage"
                            [(ngModel)]="setting.SiteSettings.defaultLanguage">
                            <option value="vi">Tiếng Việt</option>
                            <option value="en">Tiếng Anh</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Payment Settings -->
            <div class="tab-pane fade" id="payment" role="tabpanel">
                <div class="form-section">
                    <h5>Payment Settings</h5>
                    <div class="mb-3">
                        <label class="form-label">Gateways</label>
                        <select class="form-select" multiple>
                            <option value="vnpay">VNPAY</option>
                            <option value="momo">Momo</option>
                            <option value="paypal">Paypal</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="currency" class="form-label">Currency</label>
                        <input type="text" class="form-control" id="currency" value="VND">
                    </div>
                    <div class="mb-3">
                        <label for="commission" class="form-label">Commission (%)</label>
                        <input type="number" class="form-control" id="commission" value="10">
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="enableTestMode">
                        <label class="form-check-label" for="enableTestMode">Enable Test Mode</label>
                    </div>
                </div>
            </div>
            <!-- Email Settings -->
            <div class="tab-pane fade" id="email" role="tabpanel">
                <div class="form-section">
                    <h5>Cài đặt Email</h5>

                    <div class="mb-3">
                        <label for="smtpHost" class="form-label">SMTP Host</label>
                        <input type="text" class="form-control" id="smtpHost"
                            [(ngModel)]="setting.EmailSettings.smtpHost" name="smtpHost"
                            placeholder="VD: smtp.gmail.com">
                    </div>

                    <div class="mb-3">
                        <label for="smtpPort" class="form-label">SMTP Port</label>
                        <input type="number" class="form-control" id="smtpPort"
                            [(ngModel)]="setting.EmailSettings.smtpPort" name="smtpPort" placeholder="VD: 587">
                    </div>

                    <div class="mb-3">
                        <label for="username" class="form-label">Tên người dùng Email</label>
                        <input type="text" class="form-control" id="username"
                            [(ngModel)]="setting.EmailSettings.username" name="username"
                            placeholder="VD: vvc132003@gmail.com">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Mật khẩu Email</label>
                        <input type="password" class="form-control" id="password"
                            [(ngModel)]="setting.EmailSettings.password" name="password"
                            placeholder="VD: bzcaumaekzuvwlia">
                    </div>

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="enableSSL"
                            [(ngModel)]="setting.EmailSettings.enableSSL" name="enableSSL">
                        <label class="form-check-label" for="enableSSL">Kích hoạt SSL</label>
                    </div>

                </div>
            </div>


            <!-- Theme Settings -->
            <div class="tab-pane fade" id="theme" role="tabpanel">
                <div class="form-section">
                    <h5>Theme & Appearance</h5>
                    <div class="mb-3">
                        <label for="theme" class="form-label">Default Theme</label>
                        <select class="form-select" id="theme">
                            <option value="light">Light</option>
                            <option value="dark" selected>Dark</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="primaryColor" class="form-label">Primary Color</label>
                        <input type="color" class="form-control form-control-color" id="primaryColor" value="#FF5733">
                    </div>
                    <div class="mb-3">
                        <label for="secondaryColor" class="form-label">Secondary Color</label>
                        <input type="color" class="form-control form-control-color" id="secondaryColor" value="#333333">
                    </div>
                </div>
            </div>
            <!-- SEO Settings -->
            <div class="tab-pane fade" id="seo" role="tabpanel">
                <div class="form-section">
                    <h5>SEO Settings</h5>
                    <div class="mb-3">
                        <label for="metaTitle" class="form-label">Meta Title</label>
                        <input type="text" class="form-control" id="metaTitle">
                    </div>
                    <div class="mb-3">
                        <label for="metaDescription" class="form-label">Meta Description</label>
                        <textarea class="form-control" id="metaDescription" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="metaKeywords" class="form-label">Meta Keywords (comma separated)</label>
                        <input type="text" class="form-control" id="metaKeywords">
                    </div>
                </div>
            </div>
            <!-- Security Settings -->
            <div class="tab-pane fade" id="security" role="tabpanel">
                <div class="form-section">
                    <h5>Cài đặt bảo mật</h5>

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="enable2FA"
                            [(ngModel)]="setting.SecuritySettings.enable2FA" checked>
                        <label class="form-check-label" for="enable2FA">Kích hoạt xác thực 2 bước (2FA)</label>
                    </div>

                    <div class="mb-3">
                        <label for="passwordMinLength" class="form-label">Độ dài tối thiểu của mật khẩu</label>
                        <input type="number" class="form-control"
                            [(ngModel)]="setting.SecuritySettings.passwordMinLength" id="passwordMinLength" value="8">
                    </div>

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="requireSymbols"
                            [(ngModel)]="setting.SecuritySettings.requireSymbols" checked>
                        <label class="form-check-label" for="requireSymbols">Yêu cầu ký tự đặc biệt trong mật
                            khẩu</label>
                    </div>

                </div>
            </div>

            <!-- Notification Settings -->
            <div class="tab-pane fade" id="notification" role="tabpanel">
                <div class="form-section">
                    <h5>Cài đặt thông báo</h5>

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="emailNotifications"
                            [(ngModel)]="setting.NotificationSettings.emailNotifications" checked>
                        <label class="form-check-label" for="emailNotifications">Bật thông báo qua Email</label>
                    </div>

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="pushNotifications"
                            [(ngModel)]="setting.NotificationSettings.pushNotifications">
                        <label class="form-check-label" for="pushNotifications">Bật thông báo đẩy</label>
                    </div>

                    <div class="mb-3">
                        <label for="lowBalanceThreshold" class="form-label">Ngưỡng cảnh báo số dư thấp</label>
                        <input type="text" style="color: red;" placeholder="VD: 50.000 ₫" class="form-control"
                            id="lowBalanceThreshold"
                            [value]="formatVND(setting.NotificationSettings.lowBalanceThreshold)"
                            (input)="onPriceInput($event)">
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas-footer">
            <button type="button" class="btn btn-primary px-4" (click)="save()">
                <i class="fa fa-save"></i>
                Lưu
            </button>
        </div>
    </div>


</ng-template>