.container {
    position: relative;
    max-width: 1200px;
    min-height: 80vh;
    background: #ffffff;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    // box-shadow: 0 1px 2.94px .06px #041a3729;
}


.tab-content {
    margin-top: 15px;
    padding: 20px;
    // background: #fafafa;
    border-radius: 6px;
    border: 1px solid #e9ecef;
    min-height: 400px;
}


.nav-tabs .nav-link {
    color: #555;
    font-weight: 500;
}

.nav-tabs .nav-link.active {
    color: #0d6efd;
    background-color: #fff;
    border-bottom: 2px solid #0d6efd;
}

.form-section {
    margin-bottom: 20px;
}

.form-section h5 {
    margin-bottom: 15px;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5px;
}

.custom-file-link {
    display: inline-block;
    padding: 5px 10px;
    color: #007bff;
    border: 1px solid #007bff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.image-box {
    border: 2px dashed #dcdcdc;
    height: 240px;
    aspect-ratio: 1.5 / 1;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #fafafa;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;

}

.preview-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-box .icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.image-box .icon,
.image-box p {
    z-index: 99;
}



.offcanvas-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
    // background: white;
    text-align: right;
    left: 0;
    // z-index: 1060 !important;
}