.custom-offcanvas {
    position: fixed;
    top: 0;
    right: -100%;
    width: 35% !important;
    height: 100%;
    background: #fff;
    transition: right 0.5s ease, transform 0.5s ease;
    z-index: 1051;
    max-width: 800px;
    border-left: 1px solid #dee2e6;
    transform: translateX(0);

}


.custom-offcanvas.show {
    right: 0;
    transform: translateX(0);

}

.custom-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.custom-backdrop.show {
    opacity: 1;
    pointer-events: auto;
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
}

.offcanvas-title,
.product-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: calc(100% - 50px);
}


.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.close-btn:hover {
    color: #dc3545;
    transform: scale(1.1);
}

.close-btn i {
    font-size: 1.5rem;
}

.offcanvas-body {
    flex-grow: 1;
    padding: 1rem;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.offcanvas-body::-webkit-scrollbar {
    width: 2px;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.offcanvas-body::-webkit-scrollbar-thumb:hover {
    background-color: #dee2e6;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 280px;
    // background: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.image-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.image-wrapper:hover::after {
    opacity: 1;
}

.thumb-list {
    display: flex;
    gap: 10px;
    margin-bottom: 18px;
    overflow-x: auto;
    padding-bottom: 5px;
    width: 100%;

    &::-webkit-scrollbar {
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    img {
        flex: 0 0 auto;
        /* giữ kích thước cố định, không co giãn */
        width: 70px;
        /* hoặc 60px tùy bạn */
        height: 50px;
        border-radius: 5px;
        border: 1px solid #ddd;
        cursor: pointer;
        object-fit: cover;
        transition: 0.25s;

        &:hover {
            border-color: #4d77ff;
            transform: scale(1.03);
        }

        &.active {
            border: 2px solid #4d77ff;
            /* highlight thumbnail đang chọn */
        }
    }
}

.full-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}


.zoom-btn {
    position: absolute;
    top: 120px;
    right: 185px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 10;
}

.image-wrapper:hover .zoom-btn {
    display: block;
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1190;

}

.modal-content {
    position: relative;
    max-width: 50%;
    max-height: 90%;
}

.modal-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.close-btns {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}


.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.image-placeholder {
    text-align: center;
    color: #ccc;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.product-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;

    i {
        color: #ccc; // xám
    }

    i.active {
        color: #f7c600; // vàng
    }

    span {
        margin-left: 6px;
        color: #333;
    }
}


.description {
    font-size: 0.95rem;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    font-size: 0.95rem;
}

.status-available {
    color: #28a745;
    background-color: rgba(40, 167, 69, 0.1);
    padding: 2px 15px;
    border-radius: 50px;
    font-weight: bold;
    // margin-bottom: 10px;
    font-size: 15px;
}


.status-rented {
    color: #dc3545;
    background-color: rgba(220, 53, 69, 0.1);
    padding: 2px 15px;
    border-radius: 50px;
    font-weight: bold;
    // margin-bottom: 10px;
    font-size: 15px;
}

.status-cleaning {
    color: #ffc107;
    background-color: rgba(255, 193, 7, 0.1);
    padding: 2px 15px;
    border-radius: 50px;
    font-weight: bold;
    // margin-bottom: 10px;
    font-size: 15px;
}

.status-default {
    color: #6c757d;
    background-color: rgba(108, 117, 125, 0.1);
    padding: 2px 15px;
    border-radius: 50px;
    font-weight: bold;
    // margin-bottom: 10px;
    font-size: 15px;
}



@media (max-width: 470px) {

    .custom-offcanvas {
        width: 100% !important;
        max-width: 100%;
    }

    .modal-content {
        // position: relative;
        max-width: 90%;
        // max-height: 90%;
    }

    .status-rented {
        padding: 2px 5px;
        font-size: 13px;
    }
}