<nav class="navbar">
    <a class="mobile-menu" (click)="toggleMobileMenu()">
        <i class="fas fa-ellipsis-v"></i>
    </a>
    <div class="logo" [routerLink]="['/']"> &lt;/&gt; MUABANCODE</div>

    <div class="search-box" [ngClass]="{ 'showSearch-mobile': showSearchMobile }">
        <a href="">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="">
            <i class="fa-solid fa-phone"></i>
        </a>
        <select>
            <option value="">Danh mục</option>
            <option *ngFor="let item of category_list" [value]="item.id">
                {{ item.name }}
            </option>
        </select>
        <input type="text" placeholder="Tìm kiếm source code">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

   <div class="auth">
    <!-- Chưa login -->
    <ng-container *ngIf="!user">
        <a [routerLink]="['/dang-nhap']" class="login-btn">Đăng nhập</a>
        <a [routerLink]="['/dang-ky']" class="register-btn">Đăng ký</a>
    </ng-container>

    <!-- Đã login -->
    <ng-container *ngIf="user">
        <span class="user-name">Xin chào, {{ user }}</span>
        <a (click)="logout()" class="register-btn">Đăng xuất</a>
    </ng-container>
</div>


    <a class="mob-toggler" (click)="toggleMobileSearch()">
        <i class="fas fa-bars f-25"></i>
    </a>
</nav>

<!-- MENU -->
<nav class="menu" [ngClass]="{ 'showMenu-mobile': showMenuOpenMobile }">

    <!-- CỤM BÊN TRÁI -->
    <ul class="menu-left">
        <li>
            <a [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-house"></i> Trang chủ
            </a>
        </li>

        <li class="menu-item">
            <a class="has-arrow">
                <i class="fa-solid fa-list"></i> Danh mục
                <i class="fa-solid fa-chevron-down arrow"></i>
            </a>
            <ul class="dropdown">
                <li *ngFor="let item of category_list">
                    <a [routerLink]="['/danh-muc-source-code']" [queryParams]="{ category: item.slug }">
                        {{ item.name }}
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a class="has-arrow">
                <i class="fa-solid fa-newspaper"></i> Bài viết
                <i class="fa-solid fa-chevron-down arrow"></i>
            </a>
            <ul class="dropdown">
                <li><a [routerLink]="['']">Tin công nghệ</a></li>
                <li><a [routerLink]="['']">Thủ thuật</a></li>
            </ul>
        </li>

        <li>
            <a [routerLink]="['/dich-vu-do-an']" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-graduation-cap"></i> Dịch vụ đồ án
            </a>
        </li>
        <li>
            <a [routerLink]="['/tim-kiem']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
            </a>
        </li>
    </ul>


    <!-- CỤM BÊN PHẢI -->
    <ul class="menu-right">
        <li>
            <a [routerLink]="['/nap-tien']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-wallet"></i> Nạp tiền
            </a>
        </li>
        <li>
            <a [routerLink]="['/tai-len']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-cloud-arrow-up"></i> Tải lên
            </a>
        </li>
    </ul>


</nav>