<nav class="navbar">
    <a class="mobile-menu" (click)="toggleMobileMenu()">
        <i class="fas fa-ellipsis-v"></i>
    </a>

    <div class="logo" [routerLink]="['/']">
        <img [src]="logo" alt="">
    </div>

    <div class="search-box" [ngClass]="{ 'showSearch-mobile': showSearchMobile }">
        <a href="">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="">
            <i class="fa-solid fa-phone"></i>
        </a>
        <select>
            <option value="">Danh mục</option>
            <option *ngFor="let item of category_list" [value]="item.id">
                {{ item.name }}
            </option>
        </select>
        <input type="text" placeholder="Tìm kiếm source code">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <div class="auth">
        <!-- Chưa login -->
        <ng-container *ngIf="!user">
            <a routerLink="/dang-nhap" class="login-btn">Đăng nhập</a>
            <a routerLink="/dang-ky" class="register-btn">Đăng ký</a>
        </ng-container>

        <!-- Đã login -->
        <ng-container *ngIf="user">
            <div class="user-dropdown d-flex" [class.open]="isMenuOpen">
                <div class="icon-wrapper" (click)="showoNotificationt()">
                    <i class="bi bi-bell"></i>
                    <span class="badge">{{countnoti}}</span>
                </div>
                <div class="icon-wrapper">
                    <i class="bi bi-chat-dots"></i>
                    <span class="badge">5</span>
                </div>
                <!-- Avatar -->
                <img class="avatar" [src]="user.avatar || 'http://192.168.1.6/uploads/a3.png'" alt="avatar"
                    (click)="toggleMenu($event)" />

                <!-- Dropdown menu -->
                <div class="dropdown-menud" (click)="$event.stopPropagation()">
                    <div class="user-info">
                        <div class="avatar-circle">
                            <img class="avatar" [src]="user.avatar || 'http://192.168.1.6/uploads/a3.png'"
                                alt="avatar" />
                        </div>
                        <div class="user-info-left">
                            <div class="name">{{ user.fullName }}</div>
                            <div class="coin">{{user.balance | number}} đ</div>
                        </div>
                    </div>

                    <ul>
                        <li [routerLink]="['/dashboards']">
                            <i class="fa-solid fa-user"></i> Trang cá nhân
                        </li>
                        <li [routerLink]="['/tk/favorite-code']">
                            <i class="fa-solid fa-bookmark"></i> Code đã thích
                        </li>
                        <!-- <li routerLink="/upload-code">
                            <i class="fa-solid fa-cloud-arrow-up"></i> Tải code lên
                        </li> -->
                        <li [routerLink]="['/']">
                            <i class="fa-solid fa-pen"></i> Cập nhật tài khoản
                        </li>
                        <!-- <li routerLink="/missions">
                            <i class="fa-solid fa-flag"></i> Nhiệm vụ kiếm xu
                        </li> -->
                        <!-- <li routerLink="/checkin">
                            <i class="fa-solid fa-calendar-check"></i> Điểm danh
                        </li> -->
                        <!-- <li routerLink="/referral">
                            <i class="fa-solid fa-share-from-square"></i> Mã giới thiệu
                        </li> -->
                        <li class="logout" (click)="logout()">
                            <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
                        </li>
                    </ul>

                </div>
            </div>
        </ng-container>

    </div>


    <a class="mob-toggler" (click)="toggleMobileSearch()">
        <i class="fas fa-bars f-25"></i>
    </a>
</nav>

<!-- MENU -->
<nav class="menu" [ngClass]="{ 'showMenu-mobile': showMenuOpenMobile }">

    <!-- CỤM BÊN TRÁI -->
    <ul class="menu-left">
        <li>
            <a [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-house"></i> Trang chủ
            </a>
        </li>

        <li class="menu-item">
            <a class="has-arrow">
                <i class="fa-solid fa-list"></i> Danh mục
                <i class="fa-solid fa-chevron-down arrow"></i>
            </a>
            <ul class="dropdown">
                <li *ngFor="let item of category_list">
                    <a [routerLink]="['/danh-muc-source-code']" [queryParams]="{ category: item.slug }">
                        {{ item.name }}
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a class="has-arrow">
                <i class="fa-solid fa-newspaper"></i> Bài viết
                <i class="fa-solid fa-chevron-down arrow"></i>
            </a>
            <ul class="dropdown">
                <li><a [routerLink]="['']">Tin công nghệ</a></li>
                <li><a [routerLink]="['']">Thủ thuật</a></li>
            </ul>
        </li>

        <li>
            <a [routerLink]="['/project-service']" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-graduation-cap"></i> Dịch vụ đồ án
            </a>
        </li>
        <!-- <li>
            <a [routerLink]="['/tim-kiem']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
            </a>
        </li> -->
    </ul>


    <!-- CỤM BÊN PHẢI -->
    <ul class="menu-right">
        <li class="topup-3d">
            <a [routerLink]="['/tk/topup']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
                class="btn-3d">
                <i class="fa-solid fa-wallet"></i>
                <span>Nạp tiền</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/tim-kiem']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
            </a>
        </li>
        <!-- <li>
            <a [routerLink]="['/tai-len']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-cloud-arrow-up"></i> Tải lên
            </a>
        </li> -->
    </ul>


</nav>


<app-notification [showoNotification]="showoNotification" (countnotis)="onCountNotiChange($event)"
    (closePupAdd)="closeNotification()">
</app-notification>