<div class="top-source-title" *ngIf="project_list?.length">
    <h4><strong>TOP SOURCE CODE MỚI NHẤT</strong></h4>

    <!-- Nút chuyển đổi view -->
    <div class="view-toggle">
        <button [class.active]="viewType === 'card'" (click)="setViewType('card')">
            <i class="bi bi-grid-fill"></i>
        </button>
        <button [class.active]="viewType === 'list'" (click)="setViewType('list')">
            <i class="bi bi-list-ul"></i>
        </button>
    </div>
</div>

<div *ngIf="viewType === 'card' && project_list?.length">

    <div class="product-grid" *ngIf="project_list?.length">

        <div class="product-list">

            <div class="product-card" *ngFor="let item of pagedData">

                <div class="thumb">
                    <img [src]="item.thumbnailUrl" alt="" />
                </div>
                <div class="downview">
                    <span class="view-count2">
                        <i class="fas fa-eye"></i> {{item.viewCount}}
                    </span>
                    <span class="separator"></span>
                    <span class="down-count2">
                        <i class="fas fa-download"></i> {{item.downloadCount}}
                    </span>
                </div>

                <div class="tag">
                    <i class="fas fa-project-diagram"></i> {{ item.categoryName }}
                </div>

                <h3 class="title">
                    <a [routerLink]="['/source-code', item.slug]">{{ item.title }}</a>
                </h3>

                <div class="rating">
                    <i *ngFor="let s of [1,2,3,4,5]" class="fa-star" [ngClass]="s <= item.star ? 'fas active' : 'far'">
                    </i>
                    <!-- <span>1 đánh giá</span> -->
                </div>

                <div class="bottom-row">
                    <div class="seller">
                        <img [src]="avatar" />
                        <span>{{ item.seller }}</span>
                    </div>

                    <div class="actions">
                        <i (click)="bookmark(item.id)"
                            [ngClass]="{'fas fa-bookmark': true, 'text-warning': item.isFavorite}"
                            [ngStyle]="{'color': item.isFavorite ? 'yellow' : 'gray'}">
                        </i>
                        <i class="fas fa-download"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- List view -->
<div *ngIf="viewType === 'list' && project_list?.length">
    <div class="list-view">

        <div class="list-item" *ngFor="let item of pagedData">

            <div>
                <div class="thumb">
                    <img [src]="item.thumbnailUrl" alt="" />
                </div>
                <div class="downview">
                    <span class="view-count2">
                        <i class="fas fa-eye"></i> {{item.viewCount}}
                    </span>
                    <span class="separator"></span>
                    <span class="down-count2">
                        <i class="fas fa-download"></i> {{item.downloadCount}}
                    </span>
                </div>

            </div>

            <div class="content-info">
                <h3 class="title">{{ item.title }}</h3>

                <div class="rating">
                    <i *ngFor="let s of [1,2,3,4,5]"
                        [ngClass]="s <= item.star ? 'fas fa-star active' : 'far fa-star'"></i>
                </div>

                <div class="details-row">
                    <div class="info-item">
                        <strong>Danh mục:</strong>
                        <p>{{ item.categoryName }}</p>
                    </div>

                    <div class="info-item">
                        <strong>Thể loại:</strong>
                        <p>{{ item.typeName }}</p>
                    </div>

                    <div class="info-item">
                        <strong>Phí tải:</strong>
                        <span class="price">{{ item.price | number }} đ</span>
                    </div>
                </div>

                <div class="details-row">
                    <div class="info-item">
                        <strong>Ngày:</strong>
                        <span>{{ item.createdAt | date:'dd-MM-yyyy' }}</span>
                    </div>

                    <div class="info-item">
                        <strong>Loại file:</strong>
                        <span>Full code</span>
                    </div>

                    <div class="info-item">
                        <strong>Dung lượng:</strong>
                        <span>#</span>
                    </div>
                </div>

            </div>

            <div class="actions-list">
                <button class="btn-download" title="Download"><i class="fas fa-download"></i></button>
                <button class="btn-favorite" title="Yêu thích"><i class="fas fa-bookmark"></i></button>
                <!-- <button class="btn-save" title="Lưu"><i class="fas fa-folder"></i></button> -->
            </div>

        </div>
    </div>

</div>
<br>
<div class="pagination" *ngIf="totalPages > 1">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">‹</button>

    <button *ngFor="let p of visiblePages" (click)="isNumber(p) ? goToPage(p) : null" [class.active]="p === currentPage"
        [disabled]="p === '…'">
        {{ p }}
    </button>

    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">›</button>
</div>

<app-session-warning [showWarning]="showWarning" [text]="'Bạn cần đăng nhập để thích Source Code'"
    [buttons]="'Trang chủ'" [event]="'home'"></app-session-warning>