a {
    text-decoration: none;
    color: inherit;
}

/// sản pahamr
.top-source-title {
    // margin: 15px 0 50px;
    position: relative;
    // padding: 0 60px;

    h4 {
        display: inline-block;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2.5px;
        background: linear-gradient(to right,
                #4f46e5 0%,
                /* màu chữ */
                #4f46e5 40%,
                #e5e7eb 40%,
                /* phần còn lại màu xám */
                #e5e7eb 100%);
        margin-top: 5px;
    }

    .view-toggle {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        gap: 5px;
        // padding: 0 60px;

        button {
            border: 1px solid #d1d5db;
            background: #fff;
            padding: 4px 10px;
            // border-radius: 6px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 13px;
            color: #4b5563;

            &.active {
                background: linear-gradient(135deg, #4f46e5, #3b82f6);
                color: #fff;
                border-color: transparent;
            }

            &:hover {
                opacity: 0.9;
            }
        }
    }
}

.line-sep {
    width: 100%;
    height: 1px;
    background: #ddd;
    margin: 20px 0 35px 0;
}

/* Vùng chứa lớn */
.product-grid {
    position: relative;
    // padding: 0px 60px;
    margin-top: 30px;
}

/* Lưới sản phẩm */
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 5 cột cố định
    gap: 20px;
}

/* Card sản phẩm */
.product-card {
    background: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.2s ease;
    position: relative;
    // cursor: pointer;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }


    &:hover .thumb-actions {
        opacity: 1;
        pointer-events: auto;
    }

    .thumb {
        width: 100%;
        height: 180px;
        border: 1px solid #dcdcdc;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain; // quan trọng để không bể
            // border-radius: 6px;
        }


    }

    /* Button nằm dưới ảnh */
    .thumb-actions {
        position: absolute;
        top: 155px;
        right: 15px;
        display: flex;
        gap: 8px;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease;

        button {
            background: #ffffffdd;
            padding: 6px 12px;
            border-radius: 6px;
            font-size: 13px;
            font-weight: 600;
            border: none;
            cursor: pointer;
            transition: 0.2s ease;

            &:hover {
                background: #fff;
                transform: translateY(-2px);
            }
        }
    }


    .tag {
        color: #ff8401;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        gap: 6px;
        align-items: center;
    }

    .title {
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        overflow: hidden;
        // margin-bottom: -20px;
    }

    .price {
        color: #e60000;
        font-weight: 700;
        font-size: 18px;
    }

    .rating {
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 14px;

        i {
            color: #ccc; // xám
        }

        i.active {
            color: #f7c600; // vàng
        }

        span {
            margin-left: 6px;
            color: #333;
        }
    }


    .bottom-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        padding-top: 12px;
        position: relative;

        /* đường kẻ ngang */
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #e5e5e5;
        }

        .seller {
            display: flex;
            align-items: center;
            gap: 8px;

            img {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .actions {
            display: flex;
            gap: 14px;
            font-size: 20px;
            color: #888;

            i {
                cursor: pointer;

                &:hover {
                    color: #000;
                }
            }
        }
    }
}

.downview {
    background-color: #4f46e5;
    color: white;
    height: 28px;
    max-width: 240px;
    width: 100%;
    margin: -10px auto 0 auto;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.downview i {
    margin-right: 4px;
    font-size: 14px;
}

.view-count2,
.down-count2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-count2 {
    color: #fff;
}

.down-count2 {
    color: #fff;
}

.separator {
    width: 1px;
    background-color: white;
    height: 100%;
}


.list-view {
    // padding: 0px 60px;
    // margin-bottom: -10px;
    margin-top: 30px;
}

.list-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 50px 10px 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 14px;

    position: relative;
    overflow: hidden;
}

.list-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: 0;
    height: 0;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);

    transform: translate(-50%, -50%);
    transition: width 0.6s, height 0.6s;
    z-index: 0;
}

.list-item:hover::before {
    width: 200%;
    height: 200%;
}


.list-item .thumb {
    flex-shrink: 0;
    width: 120px;
    height: 90px;
    // border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    // border-radius: 8px;
}

.content-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.rating i {
    color: #f7c600;
    margin-right: 4px;
}

.rating i.far {
    color: #ccc;
}

.details-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 cột */
    gap: 16px 24px;
    font-size: 14px;
    color: #888;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.info-item strong {
    min-width: 50px;
    color: #444;
}

.info-item p {
    margin: 0;
    white-space: nowrap;
    color: #ff8401;
    font-weight: 600;
}

.price {
    color: red;
    font-weight: 700;
}

.actions-list {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%) translateX(12px);

    display: flex;
    flex-direction: column;
    gap: 10px;

    opacity: 1;
}


.actions-list button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.actions-list .btn-download {
    background-color: #4CAF50;
    /* xanh lá */
}

.actions-list .btn-favorite {
    background-color: #FF9800;
    /* cam */
}

.actions-list .btn-save {
    background-color: #FF9800;
    /* cam */
}

/* Hover effect */
.actions-list button:hover {
    opacity: 0.8;
}



.view-more-center {
    text-align: center;
    margin-top: 20px;
}


.btn-view-more {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    padding: 10px 22px;
    border: 1.5px solid #ff3b3b;
    border-radius: 8px;

    background: transparent;
    color: #ff3b3b;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;

    cursor: pointer;
    transition: all 0.2s ease;
}

/* Mũi tên */
.btn-view-more span {
    font-size: 18px;
    transition: transform 0.2s ease;
}

/* Hover */
.btn-view-more:hover {
    background-color: #ff3b3b;
    color: #fff;
}

/* Hover mũi tên chạy nhẹ */
.btn-view-more:hover span {
    transform: translateX(4px);
}

.pagination {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 6px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    // padding: 0 60px;
}

.pagination button {
    padding: 8px 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.pagination button:hover:not(:disabled):not(.active) {
    background-color: #f0f0f0;
}

.pagination button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    font-weight: bold;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination button:disabled:hover {
    background-color: #fff;
}

.pagination button:focus {
    outline: none;
}

.pagination button:disabled {
    pointer-events: none;
}

.pagination button+button {
    margin-left: 0px;
}

/* Dấu … */
.pagination button[disabled] {
    cursor: default;
    background-color: transparent;
    border: none;
    color: #999;
}

@media (max-width: 470px) {


    .top-source-title {
        text-align: start;
        margin: 0;

        h2 {
            font-size: 20px;
            font-weight: 700;
        }
    }

    .product-grid {
        padding: 0px 0px;

        &::before {
            left: 16px;
            width: calc(100% - 32px);
        }
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }


}