.cards {
  // background: #fff;
  // border-radius: 4px;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  // margin-bottom: 16px;
}

.cards-content {
  text-align: center;
}

canvas {
  width: 100% !important;
  height: 400px !important;
}
