<div class="login-bg">

    <!-- Animation giữ nguyên -->
    <div class="birds">
        <div *ngFor="let bird of birdStyles" class="bird" [ngStyle]="{
           top: bird.top,
           animationDuration: bird.duration,
           animationDelay: bird.delay,
           transform: bird.scale
         }">
            <span class="wing left"></span>
            <span class="wing right"></span>
        </div>
    </div>

    <div class="sky">
        <span *ngFor="let star of stars" [ngStyle]="{
            top: star.top,
            left: star.left,
            width: star.size,
            height: star.size,
            animationDelay: star.delay
          }"></span>
        <div class="moon"></div>
    </div>

    <!-- CARD -->
    <div class="login-card">

        <h2 class="title">Quên mật khẩu</h2>
        <p class="subtitle">
            Nhập email để nhận hướng dẫn đặt lại mật khẩu
        </p>

        <!-- Email -->
        <input type="email" placeholder="Nhập email của bạn" [(ngModel)]="email" required />

        <!-- Button -->
        <button class="btn-login" [disabled]="isSubmitting" (click)="submitForgotPassword()">
            <i class="fa-solid fa-paper-plane me-2"></i>
            Gửi yêu cầu
        </button>

        <!-- Back -->
        <div class="links center">
            <a routerLink="/dang-nhap">
                ← Quay lại đăng nhập
            </a>
        </div>

    </div>
</div>