<ul class="menu-list">
    <li [routerLink]="['/dashboards']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <span class="icon blue"><i class="fas fa-tachometer-alt"></i></span>
        Trang quản trị
    </li>
    <li [routerLink]="['/topup']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <span class="icon orange"><i class="fas fa-wallet"></i></span>
        Nạp tiền
    </li>

    <li [routerLink]="['/purchased-code']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <span class="icon red"><i class="fas fa-download"></i></span>
        Code đã mua
    </li>
    <li [routerLink]="['/favorite-code']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <span class="icon green-saved"><i class="fas fa-bookmark"></i></span>
        Code đã thích
    </li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <span class="icon pink"><i class="fas fa-bell"></i></span>
        Thông báo - Tin nhắn
    </li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <span class="icon purple"><i class="fas fa-search"></i></span>
        Lịch sử giao dịch
    </li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <span class="icon blue-question"><i class="fas fa-question-circle"></i></span>
        Yêu cầu hỗ trợ
    </li>
    <li>
        <span class="icon red-logout"><i class="fas fa-sign-out-alt"></i></span>
        Đăng xuất
    </li>
</ul>