<div class="login-bg">
    <div class="login-card">

        <h2 class="title">Đăng ký</h2>
        <a class="site-link"></a>

        <input type="text" placeholder="Họ và tên" [(ngModel)]="user_register.fullName" name="fullName" required />
        <input type="email" placeholder="Email" [(ngModel)]="user_register.email" name="email" required />

        <div class="password-wrapper">
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Mật khẩu"
                [(ngModel)]="user_register.password" name="password" required (input)="checkPassword()" />

            <span class="toggle-password" (click)="showPassword = !showPassword">
                <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </span>
        </div>


        <ul class="password-rules" *ngIf="securitySettings && passwordTouched ">
            <li [class.ok]="passwordRules.minLength" [class.error]="!passwordRules.minLength">
                <span>{{ passwordRules.minLength ? '✔️' : '❌' }}</span>
                Ít nhất {{ securitySettings.passwordMinLength }} ký tự
            </li>

            <li *ngIf="securitySettings.requireSymbols" [class.ok]="passwordRules.symbol"
                [class.error]="!passwordRules.symbol">
                <span>{{ passwordRules.symbol ? '✔️' : '❌' }}</span>
                Chứa ít nhất 1 ký tự đặc biệt
            </li>
        </ul>
        <div class="password-wrapper">
            <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Nhập lại mật khẩu"
                [(ngModel)]="confirmPassword" name="confirmPassword" required />

            <span class="toggle-password" (click)="showConfirmPassword = !showConfirmPassword">
                <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </span>
        </div>
        <div class="links">
            <a routerLink="/">Trang chủ</a>
            <a routerLink="/forgot-password">Quên mật khẩu</a>
        </div>

        <button class="btn-login" (click)="register()">
            Đăng ký
        </button>

        <div class="divider">Hoặc đăng nhập với</div>

        <div class="social">
            <button class="google">
                <i class="fab fa-google"></i> Google
            </button>
            <button class="facebook">
                <i class="fab fa-facebook-f"></i> Facebook
            </button>
        </div>

        <p class="register">
            Đã có tài khoản?
            <a routerLink="/dang-nhap">Đăng nhập</a>
        </p>

    </div>
</div>