.login-bg {
  min-height: 100vh;
  background: linear-gradient(135deg, #3bb2f6, #34e6b2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 500px;
  height: 100%;
  background: #fff;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 6px;
}

.site-link {
  display: block;
  margin-bottom: 30px;
  color: #2d7ff9;
  font-size: 14px;
  text-decoration: none;
}

// input {
//   width: 100%;
//   padding: 12px 14px;
//   margin-bottom: 18px;
//   border-radius: 4px;
//   border: 1px solid #ddd;
//   font-size: 15px;
// }

.links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 18px;

  a {
    color: #2d7ff9;
    text-decoration: none;
  }
}

.btn-login {
  width: 100%;
  padding: 12px;
  background: #ff4d6d;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.divider {
  margin: 30px 0 20px;
  font-size: 14px;
  color: #777;
}

.social {
  display: flex;
  gap: 12px;

  button {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    font-weight: 500;
  }

  .google {
    color: #db4437;
  }

  .facebook {
    color: #1877f2;
  }
}

.register {
  margin-top: 24px;
  font-size: 14px;

  a {
    color: #2d7ff9;
    font-weight: 500;
    text-decoration: none;
  }
}

input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 18px;
  border-radius: 4px;
  border: 1px solid #c8c4c4;
  font-size: 15px;
  outline: none;
  transition: all 0.2s ease;
}

input:hover {
  border-color: #c8c4c4;
}

input:focus {
  border-color: #2d7ff9;
  // box-shadow: 0 0 0 3px rgba(45, 127, 249, 0.15);
}


.password-wrapper {
  position: relative;

  input {
    padding-right: 42px; // chừa chỗ cho icon 👁
  }
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 38%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
  font-size: 16px;
}

.toggle-password:hover {
  color: #2d7ff9;
}


.password-rules {
  padding-left: 0;
  list-style: none;
  font-size: 13px;

  li {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 4px;
  }

  .ok {
    color: #28a745;
  }

  .error {
    color: #dc3545;
  }
}