<app-layout-home [tabTemplates]="{dashboards}"></app-layout-home>
<ng-template #dashboards let-category_list="category_list">
    <div class="project-detail-page">
        <div class="container-fuild">
            <div class="row">
                <div class="col-12 col-lg-3 right-side">
                    <div class="right-side-card">
                        <app-card-menu></app-card-menu>
                    </div>
                </div>
                <div class="col-12 col-lg-9 left-side">
                    <div class="left-side-card">
                        <div class="bear-container">
                            <div class="dashboard-header">
                                <h5>Quản lý bình luận</h5>
                                <p> ({{comments.length}})</p>
                            </div>
                            <div class="filter-box" [ngClass]="{'show': showFilter}" *ngIf="showFilter || isDesktop">

                                <div class="filter-left">
                                    <div class="filter-item">
                                        <input type="text" placeholder="Từ ngày" bsDatepicker [(ngModel)]="dateFrom"
                                            [bsConfig]="{
      containerClass: 'theme-datepicker',
      dateInputFormat: 'DD/MM/YYYY',  showWeekNumbers: false

    }" (bsValueChange)="onDateFromChange($event)">
                                    </div>

                                    <div class="filter-item">
                                        <input type="text" placeholder="Đến ngày" bsDatepicker [(ngModel)]="dateTo"
                                            [bsConfig]="{
      containerClass: 'theme-datepicker',
      dateInputFormat: 'DD/MM/YYYY',  showWeekNumbers: false

    }" (bsValueChange)="onDateToChange($event)">
                                    </div>

                                </div>

                                <div class="filter-right">
                                    <div class="filter-item">
                                        <input type="text" placeholder="Nhập tên, mã..." [(ngModel)]="searchText"
                                            (input)="applyFilter()">
                                    </div>
                                </div>
                            </div>

                            <div class="bear-header ">
                                <div class="h-col title text-center">STT</div>
                                <div class="h-col title">Tiêu đề</div>
                                <div class="h-col desc">Nội dung</div>
                                <div class="h-col price">Trạng thái</div>
                                <div class="h-col date text-center">Ngày bình luận</div>
                                <div class="h-col zip text-center">Thao tác</div>
                            </div>

                            <div class="bear-list ">
                                <div class="bear-item" *ngFor="let item of pagedData; let i = index">
                                    <div class="h-col title text-center">
                                        {{ (currentPage - 1) * pageSize + i + 1 }}
                                    </div>
                                    <div class="col title">{{ item.projectName }}</div>

                                    <div class="col desc">{{ item.content }}</div>

                                    <div class="col price"> <b [ngStyle]="{
                                                    'background-color': item.status === 'pending' ? '#facc15' :
                                                                        item.status === 'approved' ? '#a7f3d0' :
                                                                        '#e5e7eb',
                                                    'color': item.status === 'pending' ? '#92400e' :
                                                            item.status === 'approved' ? '#065f46' :
                                                            '#374151',
                                                    'padding': '2px 6px',
                                                    'border-radius': '6px'
                                                }">
                                            {{ item.status === 'pending' ? 'Chờ duyệt' :
                                            item.status === 'approved' ? 'Đã duyệt' : 'Từ chối' }}
                                        </b></div>
                                    <div class="col date">{{ item.createdAt }}</div>
                                    <div class="col text-center">
                                        <div class="col action" (click)="$event.stopPropagation()">
                                            <i class="fas fa-edit action-icon edit" title="Cập nhật"></i>
                                            <i class="fas fa-trash-alt action-icon delete" title="Xoá"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination">
                                    <button (click)="goToPage(currentPage - 1)"
                                        [disabled]="currentPage === 1">‹</button>

                                    <span>Trang {{ currentPage }} / {{ totalPages }}</span>

                                    <button (click)="goToPage(currentPage + 1)"
                                        [disabled]="currentPage === totalPages">›</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>