<app-layout-home [tabTemplates]="{dashboards}"></app-layout-home>
<ng-template #dashboards>
    <div class="project-detail-page">
        <div class="container-fuild">
            <div class="row">
                <div class="col-12 col-lg-3 right-side">
                    <div class="right-side-card">
                        <app-card-menu></app-card-menu>
                    </div>
                </div>
                <div class="col-12 col-lg-9 left-side">
                    <div class="left-side-card">
                        <div class="bear-container">
                            <div class="dashboard-header">
                                <h5>Lịch sử giao dịch</h5>
                                <p> ({{transactions.length}} source code)</p>
                            </div>
                            <div class="filter-box" [ngClass]="{'show': showFilter}" *ngIf="showFilter || isDesktop">

                                <div class="filter-left">
                                    <div class="filter-item">
                                        <input type="text" placeholder="Từ ngày" bsDatepicker [(ngModel)]="dateFrom"
                                            [bsConfig]="{
      containerClass: 'theme-datepicker',
      dateInputFormat: 'DD/MM/YYYY',  showWeekNumbers: false

    }" (bsValueChange)="onDateFromChange($event)">
                                    </div>

                                    <div class="filter-item">
                                        <input type="text" placeholder="Đến ngày" bsDatepicker [(ngModel)]="dateTo"
                                            [bsConfig]="{
      containerClass: 'theme-datepicker',
      dateInputFormat: 'DD/MM/YYYY',  showWeekNumbers: false

    }" (bsValueChange)="onDateToChange($event)">
                                    </div>

                                </div>

                                <div class="filter-right">
                                    <div class="filter-item">
                                        <input type="text" placeholder="Nhập tên, mã..." [(ngModel)]="searchText"
                                            (input)="applyFilter()">
                                    </div>
                                    <div class="filter-item">
                                        <select class="form-select form-select-sm" style="color:#000;"
                                            [(ngModel)]="transactionType" (change)="applyFilter()">

                                            <option [ngValue]="null">-- Tất cả --</option>
                                            <option [ngValue]="'DOWNLOAD_CODE'">Tải Source Code</option>
                                            <option [ngValue]="'DEPOSIT'">Nạp tiền</option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="bear-header ">
                                <div class="h-col title text-center">STT</div>
                                <div class="h-col note">Số tiền</div>
                                <div class="h-col date">Nội dung</div>
                                <div class="h-col date">Loại giao dịch</div>
                                <div class="h-col date">Trạng thái</div>
                                <div class="h-col date">Ngày trừ tiền</div>

                                <div class="h-col zip text-center">Thao tác</div>
                            </div>

                            <div class="bear-list ">
                                <div class="bear-item" *ngFor="let item of pagedData; let i = index">
                                    <div class="h-col title text-center">
                                        {{ (currentPage - 1) * pageSize + i + 1 }}
                                    </div>

                                    <div class="col name text-danger">- {{ item.amount |number }} đ</div>
                                    <div class="col date">{{ item.message}}</div>
                                    <div class="col date d-flex align-items-center gap-1">
                                        <i *ngIf="item.transactionType === 'DOWNLOAD_CODE'" class="bi bi-download"></i>
                                        <i *ngIf="item.transactionType === 'TRANSFER'"
                                            class="bi bi-arrow-right-circle"></i>
                                        <i *ngIf="item.transactionType === 'WITHDRAW'" class="bi bi-wallet2"></i>
                                        <i *ngIf="item.transactionType === 'DEPOSIT'" class="bi bi-cash-stack"></i>
                                        <span [ngClass]="getTransactionTypeLabel(item.transactionType).class">
                                            {{ getTransactionTypeLabel(item.transactionType).label }}
                                        </span>
                                    </div>

                                    <div class="col date d-flex align-items-center gap-1">
                                        <i [class]="'bi ' + getStatusBadge(item.status).icon"></i>
                                        <span class="badge" [ngClass]="getStatusBadge(item.status).class">
                                            {{ getStatusBadge(item.status).label }}
                                        </span>
                                    </div>
                                    <div class="col date">{{ item.transactionDate| date:'dd/MM/yyyy HH:mm' }}</div>

                                    <div class="col zip text-center">
                                        <div class="col action" (click)="$event.stopPropagation()">
                                            <!-- <button class="btn-edit">Cập nhật</button> -->
                                            <button class="btn-delete">Xoá</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="pagination">
                                    <button (click)="goToPage(currentPage - 1)"
                                        [disabled]="currentPage === 1">‹</button>

                                    <span>Trang {{ currentPage }} / {{ totalPages }}</span>

                                    <button (click)="goToPage(currentPage + 1)"
                                        [disabled]="currentPage === totalPages">›</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>