.stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.stat-card {
    flex: 1 1 calc(20% - 20px);
    display: flex;
    align-items: center;
    gap: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
}

.stat-card:hover {
    transform: translateY(-4px);
}

.icon {
    font-size: 28px;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Màu nền riêng cho từng icon */
.icon-books {
    background-color: #4caf50;
}

/* xanh lá */
.icon-hot {
    background-color: #f44336;
}

/* đỏ */
.icon-money {
    background-color: #ff9800;
}

/* cam */
.icon-user {
    background-color: #2196f3;
}

/* xanh dương */

.stat-content {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 14px;
    color: #888;
    margin-bottom: 6px;
}

.value {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}



////

.date-filter {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    flex-wrap: wrap;
}

.date-filter label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #333;
}

.date-filter input[type="date"] {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.cards {
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    height: 100%;
}

.comments-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
    background: linear-gradient(90deg, #4caf50, #2196f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.comment-card {
    display: flex;
    gap: 15px;
    padding: 5px;
    border-bottom: 1px solid #eee;
    transition: background 0.2s;
    align-items: flex-start;
    cursor: pointer;
}

.comment-card:last-child {
    border-bottom: none;
}

.comment-card:hover {
    background: #f9f9f9;
}

.avatar {
    flex-shrink: 0;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.comment-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.username {
    font-weight: 600;
    color: #222;
}

.date {
    font-size: 12px;
    color: #999;
}

.comment-text {
    font-size: 14px;
    color: #444;
    line-height: 1.5;
}

.offcanvas-footer {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    left: 0;
}

.view-all-btn {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #2196f3;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease;
    cursor: pointer;
}