<app-layout [text]="'Thống kê'" [tabTemplates]="{char}">
</app-layout>
<ng-template #char>
    <div class="container">
        <div class="date">
            <div class="container-fluid px-3">
                <div class="d-flex justify-content-end">
                    <div class="d-flex align-items-end gap-3 flex-nowrap">
                        <div class="d-flex align-items-center gap-2">
                            <label for="yearSelect" class="form-label mb-0">Chọn năm:</label>
                            <select id="yearSelect" class="form-select" [(ngModel)]="selectedYear" (change)="onFilter()"
                                style="width: 120px;">
                                <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="stats-container">
            <div class="stat-card">
                <div class="icon">📚</div>
                <div class="label">Tổng source</div>
                <div class="value">{{summary.countProject}}</div>
            </div>

            <div class="stat-card">
                <div class="icon">🔥</div>
                <div class="label">Source bán chạy</div>
                <div class="value"
                    style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  max-width: 200px;"
                    [title]="summary.projectName">
                    {{ summary.projectName }}
                </div>
            </div>

            <div class="stat-card">
                <div class="icon">💰</div>
                <div class="label">Doanh thu</div>
                <div class="value">{{summary.totalRevenue | number}} đ</div>
            </div>

            <div class="stat-card">
                <div class="icon">👤</div>
                <div class="label">User đăng ký</div>
                <div class="value">{{summary.countUser}}</div>
            </div>
        </div>

        <br>
        <div class="cards">
            <div class="cards-content">
                <app-mixed-canvas [revenueData]="revenueData" [orderCountData]="orderCountData"></app-mixed-canvas>
            </div>
        </div>

        <app-area-canvas [revenueData]="revenueData"></app-area-canvas>
        <app-bar-canvas [revenueData]="revenueData"></app-bar-canvas>
        <app-line-canvas [orderCountData]="orderCountData"></app-line-canvas>
        <!-- <app-polar-area-canvas [reportData]="reportData"></app-polar-area-canvas> -->
        <!-- <app-doughnut-canvas [reportData]="reportData"></app-doughnut-canvas> -->
    </div>

</ng-template>