<header class="admin-header">
    <div class="left-section">
        <div class="logo" *ngIf="logo">
            <img [src]="logo" alt="Logo">
        </div>

    </div>
    <div class="right-section">
        <div class="icon-wrapper" (click)="showoNotificationt()">
            <i class="bi bi-bell"></i>
            <span class="badge">{{countnoti}}</span>
        </div>
        <div class="icon-wrapper">
            <i class="bi bi-chat-dots"></i>
            <span class="badge">5</span>
        </div>
        <select class="lang-select" [(ngModel)]="selectedLanguage" (change)="onLanguageChange()">
            <option value="vi">🇻🇳</option>
            <option value="en">🇺🇸</option>
        </select>
        <div class="user-info user-dropdown" [class.open]="isMenuOpen">
            <img src="https://channel.mediacdn.vn/428462621602512896/2023/9/29/photo-1-16959618865181612964329.jpg"
                class="avatar" (click)="toggleMenu($event)" alt="admin">
            <div class="dropdown-menud" (click)="$event.stopPropagation()">
                <div class="user-infos">
                    <div class="avatar-circle">
                        <img class="avatar"
                            [src]="'https://channel.mediacdn.vn/428462621602512896/2023/9/29/photo-1-16959618865181612964329.jpg'"
                            alt="avatar" />
                    </div>
                    <div class="user-info-left">
                        <div class="name">Admin</div>
                    </div>
                </div>

                <ul>
                    <li [routerLink]="['/dashboards']">
                        <i class="fa-solid fa-user"></i> Trang cá nhân
                    </li>
                    <li [routerLink]="['/']">
                        <i class="fa-solid fa-pen"></i> Cập nhật tài khoản
                    </li>
                    <li [routerLink]="['/mbcode/admin/change-password', '1010']" class="menu-item">
                        <i class="fa-solid fa-key"></i> Đổi mật khẩu
                    </li>
                    <li class="logout" (click)="logoutByOtherLogin()">
                        <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
                    </li>
                </ul>

            </div>
        </div>
    </div>
</header>

<app-notification [showoNotification]="showoNotification" (countnotis)="onCountNotiChange($event)"
    (closePupAdd)="closeNotification()">
</app-notification>