.admin-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  // background-color: #1F2937;
  color: #000;
  display: flex;
  padding: 0 20px;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: 500;

}

/* Logo */
.logo img {
    max-height: 60px; /* chiều cao tối đa */
    height: auto;
    width: auto;
    display: block;
    transition: transform 0.3s ease;
}

/* Hiệu ứng hover logo */
.logo img:hover {
    transform: scale(1.05);
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-wrapper {
  position: relative;
  cursor: pointer;

  i {
    font-size: 20px;
  }

  .badge {
    position: absolute;
    top: -4px;
    right: -6px;
    background: #ff4d4f;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 10px;
  }
}

.lang-select {
  background: rgba(255, 255, 255, 0.2);
  color: #000;
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  outline: none;

  option {
    color: black;
  }
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  .avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid #ffffff55;
    object-fit: cover;
  }
}

.dropdown-menud {
  position: absolute;
  top: 70px;
  right: 0;
  width: 240px;
  background: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.15);
  z-index: 99999;
  transition: opacity 0.25s ease, transform 0.25s ease;
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
}


// .user-dropdown {
//     position: relative;
//     display: inline-block;
//     display: flex;
//     align-items: center;
//     gap: 20px;
// }

.user-dropdown.open .dropdown-menud {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.user-infos {
    background: #409eff;
    color: #fff;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.name {
  font-weight: 600;
}

.coin {
  font-size: 16px;
  font-weight: 600;
}

/* Menu list */
.dropdown-menud ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #666666;
}

.dropdown-menud li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  cursor: pointer;
}


.dropdown-menud li:hover {
  background: #f5f5f5;
}

.logout {
  color: red;
  border-top: 1px solid #eee;
}