a {
    text-decoration: none;
    color: inherit;
}

.main {
    padding: 148px 60px;
}

.header {
    display: grid;
    grid-template-columns: 220px 1fr;
    background: #fff;
    /* gap: 20px; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 2.94px .06px #041a3729;
}

/* SIDEBAR */
.sidebar {
    border-radius: 14px;
    padding: 6px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 10px 0;
    // border-bottom: 1px solid #ececec;
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    color: #444;
    font-weight: 600;
    font-size: 15px;
    display: block;
    transition: 0.25s ease;
}

.sidebar ul li a:hover {
    color: #4f46e5;
    padding-left: 4px;
}

/* BANNER SLIDESHOW */
.banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
}

/* Slide item */
.slide {
    min-width: 100%;
    height: 100%;
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.slide.active {
    opacity: 1;
    position: relative;
}

/* Hình ảnh trong slide */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* DOTS */
.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 8px;
}

.dots div {
    width: 12px;
    height: 12px;
    background: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.dots .active {
    background: #4f46e5;
}

/* FEATURES */
.features,
.product-grid {
    padding: 0px 60px;

}

.features-header {
    display: grid;
    grid-template-columns: 1fr;
    // gap: 20px;
    margin-top: -100px;
    display: flex;
    background: #fff;
    box-shadow: 0 1px 2.94px .06px #041a3729;
}

.feature-box {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 5px 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.feature-box:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 15%;
    width: 1px;
    height: 70%;
    background: rgba(0, 0, 0, 0.1);
}


.feature-box .icon {
    font-size: 2rem;
    color: #4f46e5;
    margin-right: 20px;
    flex-shrink: 0;
    margin-bottom: 15px;
}

.feature-box .content h3 {
    margin-bottom: 6px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #111;
}

.feature-box .content p {
    font-size: 0.75rem;
    color: #555;
    line-height: 1.4;
}

.custom-container {
    display: flex;
    gap: 20px;
    padding: 0 60px;
    width: 100%;
    box-sizing: border-box;
}


.left-side {
    flex: 1;
    min-width: 0;
    min-height: 1100px;

}
.right-side {
    position: sticky;
    top: 160px;
    align-self: flex-start;
}


.right-side-card {
    width: 320px;
    flex-shrink: 0;

    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2.94px .06px #041a3729;
    background: white;
    position: relative;
    overflow: hidden;

    .tag-item {
        display: inline-flex;
        align-items: center;
        padding: 6px 12px;
        border-radius: 14px;
        color: #fff;
        font-size: 12px;
        margin-right: 6px;
    }
}

.right-side-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #4e8cff, #664eff);
}





/* Responsive */
/* Ẩn tất cả các phần khác ngoài banner khi màn hình ≤ 470px */
@media (max-width: 470px) {
    .main {
        padding: 70px 10px;
        margin-bottom: -45px;
    }

    .header {
        display: block;
    }

    .header> :not(.banner),
    .sidebar,
    .features {
        display: none;
    }

    .banner {
        width: 100%;
        height: 200px;
        margin: 0;
        overflow: hidden;
        position: relative;
    }

    .slides {
        width: 100%;
        height: 100%;
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.6s ease-in-out;
    }

    .slide.active {
        opacity: 1;
        z-index: 1;
    }

    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    .dots {
        bottom: 10px;
        gap: 5px;
        z-index: 99;
    }

    .custom-container {
        flex-direction: column;
        padding: 0 0px;
    }

    .left-side {
        flex: 0 0 100%;
        padding: 0 10px;
    }

    .right-side {
        flex: 0 0 100%;
        margin-left: 0;
        margin-top: 15px;
        padding: 0 10px;
    }

    .right-side-card {
        width: 100%;
    }




}