<app-layout-home [tabTemplates]="{dashboards}"></app-layout-home>
<!-- <app-header [category_list]="category_list"></app-header> -->
<ng-template #dashboards let-category_list="category_list">
    <div class="main">
        <div class="header">
            <!-- SIDEBAR -->
            <aside class="sidebar">
                <ul>
                    <li *ngFor="let item of category_list.slice(0, 8);">
                        <a [routerLink]="['/danh-muc-source-code']" [queryParams]="{ category: item.slug }">
                            {{ item.name }}
                        </a>
                    </li>
                    <li><a href="#">Khác</a></li>
                </ul>
            </aside>

            <!-- BANNER SLIDESHOW -->
            <section class="banner">
                <div class="slides">
                    <div class="slide" *ngFor="let item of slides; let i = index" [class.active]="i === currentIndex">
                        <img [src]="item" alt="Banner {{ i + 1 }}">
                    </div>
                </div>
                <div class="dots">
                    <div *ngFor="let dot of slides; let i = index" [class.active]="i === currentIndex"
                        (click)="goToSlide(i)">
                    </div>
                </div>
            </section>

        </div>
    </div>
    <div class="features">
        <div class="features-header">
            <div class="feature-box">
                <div class="icon"><i class="fas fa-money-bill-wave"></i></div>
                <div class="content">
                    <h3>Thu nhập tự động</h3>
                    <p>Bạn có code hãy upload ngay</p>
                </div>
            </div>
            <div class="feature-box">
                <div class="icon"><i class="fas fa-headset"></i></div>
                <div class="content">
                    <h3>Hỗ trợ 24/7</h3>
                    <p>Tư vấn & hỗ trợ mọi lúc</p>
                </div>
            </div>
            <div class="feature-box">
                <div class="icon"><i class="fas fa-code"></i></div>
                <div class="content">
                    <h3>Mã nguồn đa dạng</h3>
                    <p>Kho code phong phú, liên tục cập nhật</p>
                </div>
            </div>
            <div class="feature-box">
                <div class="icon"><i class="fas fa-bolt"></i></div>
                <div class="content">
                    <h3>Giao dịch nhanh</h3>
                    <p>Nạp & rút tiền chỉ trong vài giây</p>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="custom-container">
        <div class="left-side">
            <app-latestcode [project_list]="project_list"></app-latestcode>
        </div>
        <div class="right-side">
            <div class=" right-side-card">
                <app-card-header-side [project_list]="project_latest"></app-card-header-side>
            </div>
        </div>
    </div>
    <div class="left-side">
        <app-featuredwebsite [project_list]="project_list"></app-featuredwebsite>
        <app-featuredsoftware [project_list]="project_list"></app-featuredsoftware>
        <app-featuredapplications [project_list]="project_list"></app-featuredapplications>
        <app-featuredgame [project_list]="project_list"></app-featuredgame>
    </div>

    <br>
</ng-template>