<app-layout-home [tabTemplates]="{category}"></app-layout-home>
<ng-template #category>
    <app-page-header [breadcrumb_categoryname]="'Danh mục'" (projectLatestChange)="onProjectLatestReceived($event)"
        [breadcrumb_title]="categoryname"></app-page-header>

    <div class="project-detail-page">
        <div class="container-fulid">
            <div class="row">
                <div class="col-12 col-lg-3 right-side">
                    <div class=" right-side-card">
                        <app-card-header-side [project_list]="project_latest"></app-card-header-side>
                    </div>
                </div>
                <div class="col-12 col-lg-9 left-side">
                    <div class=" left-side-card ">
                        <div class="card-header hot-code p-t-15 p-b-0">
                            <h4 class="mb-2 h4 d-flex align-items-center gap-2">
                                <i class="fas fa-code"></i>
                                <span>{{ categoryname }}</span>
                                <span class="text-muted" style="font-size: 14px;">({{count}} source code)</span>
                            </h4>
                        </div>

                        <div class="sort-buttons">
                            <span class="sort-label">Sắp xếp</span>
                            <button class="btn btn-primary btn-sm" (click)="sortNewest()">Mới nhất</button>
                            <button class="btn btn-primary btn-sm" (click)="sortMostDownload()">Tải nhiều</button>

                            <div class="dropdown">
                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
                                    id="dropdownTheoTen" data-bs-toggle="dropdown" aria-expanded="false">
                                    Theo tên
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownTheoTen">
                                    <li>
                                        <a class="dropdown-item" (click)="sortNameAsc()">A → Z</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" (click)="sortNameDesc()">Z → A</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
                                    id="dropdownLuotXem" data-bs-toggle="dropdown" aria-expanded="false">
                                    Lượt xem
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownLuotXem">
                                    <li>
                                        <a class="dropdown-item" (click)="sortViewAsc()">Tăng dần</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" (click)="sortViewDesc()">Giảm dần</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
                                    id="dropdownTheoGia" data-bs-toggle="dropdown" aria-expanded="false">
                                    Theo giá
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownTheoGia">
                                    <li>
                                        <a class="dropdown-item" (click)="sortPriceAsc()">Thấp → Cao</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" (click)="sortPriceDesc()">Cao → Thấp</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class=" product-grid">
                        <div class="product-list">
                            <div class="product-card" *ngFor="let item of pagedData">
                                <div class="thumb">
                                    <img [src]="item.thumbnailUrl" alt="" />
                                </div>
                                 <div class="downview">
                                    <span class="view-count2">{{item.viewCount}}</span>
                                    <span class="down-count2">{{item.downloadCount}}</span>
                                </div>
                                <!-- 
                                <div class="thumb-actions">
                                    <button>Xem chi tiết</button>
                                    <button>Lưu code</button>
                                </div> -->

                                <div class="tag">
                                    <i class="fas fa-project-diagram"></i> {{ item?.categoryName }}
                                </div>

                                <h3 class="title">
                                    <a [routerLink]="['/source-code', item.slug]">{{ item.title }}</a>
                                </h3>

                                <!-- <div class="price">
                                    {{ item.price | number }} đ
                                </div> -->

                                <div class="rating">
                                    <i *ngFor="let s of [1,2,3,4,5]" class="fa-star"
                                        [ngClass]="s <= item.star ? 'fas active' : 'far'"
                                        (click)="setRating(s, item.id)">
                                    </i>
                                    <!-- <span>1 đánh giá</span> -->
                                </div>

                                <div class="bottom-row">
                                    <div class="seller">
                                        <!-- <img [src]="item.avatar" /> -->
                                        <span>{{ item.seller }}</span>
                                    </div>

                                    <div class="actions">
                                        <i (click)="bookmark(item.id)"
                                            [ngClass]="{'fas fa-bookmark': true, 'text-warning': item.isFavorite}"
                                            [ngStyle]="{'color': item.isFavorite ? 'yellow' : 'gray'}">
                                        </i> <i class="fas fa-download"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination" *ngIf="totalPages > 1">
                        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">‹</button>

                        <button *ngFor="let p of visiblePages" (click)="isNumber(p) ? goToPage(p) : null"
                            [class.active]="p === currentPage" [disabled]="p === '…'">
                            {{ p }}
                        </button>

                        <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">›</button>
                    </div>
                    <div class="top-source-title">
                        <h4><strong>CODE GỢI Ý CHO BẠN</strong></h4>
                    </div>
                    <div class="product-grid">
                        <div class="product-list">
                            <div class="product-card" *ngFor="let item of projectRamdom">
                                <div class="thumb">
                                    <img [src]="item.thumbnailUrl" alt="" />
                                </div>
                                <div class="downview">
                                    <span class="view-count2">{{item.viewCount}}</span>
                                    <span class="down-count2">{{item.downloadCount}}</span>
                                </div>
                                <div class="tag">
                                    <i class="fas fa-project-diagram"></i> {{ item?.categoryName }}
                                </div>
                                <h3 class="title">
                                    <a [routerLink]="['/source-code', item.slug]">{{ item.title }}</a>
                                </h3>
                                <div class="rating">
                                    <i *ngFor="let s of [1,2,3,4,5]" class="fa-star"
                                        [ngClass]="s <= item.star ? 'fas active' : 'far'">
                                    </i>
                                </div>
                                <div class="bottom-row">
                                    <div class="seller">
                                        <span>{{ item.seller }}</span>
                                    </div>
                                    <div class="actions">
                                        <i (click)="bookmark(item.id)"
                                            [ngClass]="{'fas fa-bookmark': true, 'text-warning': item.isFavorite}"
                                            [ngStyle]="{'color': item.isFavorite ? 'yellow' : 'gray'}">
                                        </i>
                                        <i class="fas fa-download"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
</ng-template>