<app-layout [text]="'Code tải lên'" [count]="count" (showPupAdd)="click($event)"
    [tabTemplates]="{projectAdd,projectList,projectDetail}">
</app-layout>
<ng-template #projectAdd>
    <app-project-add [showcproject_add]="showproject_add" (closeProjectAdd)="close()" (newData)="newData($event)"
        [data]="data" [project]="newproject"></app-project-add>
</ng-template>
<ng-template #projectList>
    <app-project-list [project_list]="project_list" [project_id]="project_id" (dblclick)="dbclickDrink()"
        (projectclick)="selectpRroject($event)"></app-project-list>
</ng-template>

<ng-template #projectDetail>
    <app-project-detail *ngIf="newproject" [showoffcanvas]="showProjectDetail" [project]="newproject"
        (closeDetail)="close()" db></app-project-detail>
</ng-template>