.custom-offcanvas {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50% !important;
    height: 100%;
    background: #fff;
    transition: right 0.5s ease, transform 0.5s ease;
    z-index: 1051;
    max-width: 800px;
    border-left: 1px solid #dee2e6;
    transform: translateX(0);

}

.content {
    max-height: 520px;
    overflow-y: auto;
}

.content::-webkit-scrollbar {
    width: 2px;
}

.content::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 5px;
}

.custom-offcanvas.show {
    right: 0;
    transform: translateX(0);

}

.custom-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.custom-backdrop.show {
    opacity: 1;
    pointer-events: auto;
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
}

.offcanvas-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.close-btn:hover {
    color: #dc3545;
    transform: scale(1.1);
}

.close-btn i {
    font-size: 1.5rem;
}

.offcanvas-body {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

.list-group-item.active {
    font-weight: bold !important;
    background-color: transparent !important;
    border-color: #dee2e6 !important;
    color: inherit !important;
    z-index: 0;
}

.list-group-item-action {
    cursor: pointer;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1100 !important;
    /* Đặt cao hơn Offcanvas */
    pointer-events: all;
}

.border-end {
    min-height: 900px;
    height: 100%;
}

@media (max-width: 470px) {

    .custom-offcanvas {
        width: 100% !important;
        max-width: 100%;
    }

    .list-group-item {
        border: none;
    }

    .list-group {
        // display: flex;
        flex-direction: row;
        // justify-content: center;
        margin-top: -18px;
    }

    .list-group-item {
        flex: 1;
        text-align: center;
    }

    .list-group-item.active {
        border: none !important;
        box-shadow: none !important;
    }

    .content {
        margin-top: 20px;
    }
}