<app-layout [text]="'Cập nhật mật khẩu'" [tabTemplates]="{ char }">
</app-layout>

<ng-template #char>
    <div class="container-fluid ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6">

                    <div class="card shadow border-0 rounded-1">
                        <div class="card-body p-5">

                            <!-- Mật khẩu hiện tại -->
                            <div class="mb-3">
                                <label class="form-label fw-semibold">Mật khẩu hiện tại</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-key"></i>
                                    </span>

                                    <input [type]="showCurrent ? 'text' : 'password'" [(ngModel)]="pre.current_password"
                                        class="form-control" placeholder="Nhập mật khẩu hiện tại">

                                    <span class="input-group-text cursor-pointer" (click)="showCurrent = !showCurrent">
                                        <i class="fa-solid" [ngClass]="showCurrent ? 'fa-eye-slash' : 'fa-eye'"></i>
                                    </span>
                                </div>
                            </div>


                            <!-- Mật khẩu mới -->
                            <div class="mb-3">
                                <label class="form-label fw-semibold">Mật khẩu mới</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-lock"></i>
                                    </span>

                                    <input [type]="showNew ? 'text' : 'password'" [(ngModel)]="pre.new_password"
                                        class="form-control" placeholder="Nhập mật khẩu mới" (input)="checkPassword()">

                                    <span class="input-group-text cursor-pointer" (click)="showNew = !showNew">
                                        <i class="fa-solid" [ngClass]="showNew ? 'fa-eye-slash' : 'fa-eye'"></i>
                                    </span>
                                </div>
                                <ul class="password-rules" *ngIf="securitySettings && passwordTouched ">
                                    <li [class.ok]="passwordRules.minLength" [class.error]="!passwordRules.minLength">
                                        <span>{{ passwordRules.minLength ? '✔️' : '❌' }}</span>
                                        Ít nhất {{ securitySettings.passwordMinLength }} ký tự
                                    </li>

                                    <li *ngIf="securitySettings.requireSymbols" [class.ok]="passwordRules.symbol"
                                        [class.error]="!passwordRules.symbol">
                                        <span>{{ passwordRules.symbol ? '✔️' : '❌' }}</span>
                                        Chứa ít nhất 1 ký tự đặc biệt
                                    </li>
                                </ul>
                            </div>


                            <!-- Nhập lại mật khẩu -->
                            <div class="mb-3">
                                <label class="form-label fw-semibold">Xác nhận mật khẩu mới</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-check"></i>
                                    </span>

                                    <input [type]="showConfirm ? 'text' : 'password'" [(ngModel)]="pre.confirm_password"
                                        class="form-control" placeholder="Nhập lại mật khẩu mới">

                                    <span class="input-group-text cursor-pointer" (click)="showConfirm = !showConfirm">
                                        <i class="fa-solid" [ngClass]="showConfirm ? 'fa-eye-slash' : 'fa-eye'"></i>
                                    </span>
                                </div>
                                <small class="text-danger" *ngIf="pre.confirm_password 
               && pre.new_password 
               && pre.confirm_password !== pre.new_password">
                                   ❌ Mật khẩu nhập lại không khớp
                                </small>
                            </div>
                            <!-- Button -->
                            <button type="button" class="btn btn-primary w-100 py-3 fw-semibold" (click)="changeP()">
                                <i class="fa-solid fa-shield-halved me-2"></i>
                                Cập nhật mật khẩu
                            </button>

                            <!-- Back -->
                            <div class="text-center mt-4">
                                <a [routerLink]="['/mbcode/admin/revenue', '1000']"
                                    class="text-decoration-none text-muted">
                                    <i class="fa-solid fa-arrow-left me-1"></i>
                                    Quay về trang chủ
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-template>