<app-layout-home [tabTemplates]="{dashboards}"></app-layout-home>
<ng-template #dashboards>
    <div class="project-detail-page">
        <div class="container-fuild">
            <div class="row">
                <div class="col-12 col-lg-3 right-side">
                    <div class="right-side-card">
                        <app-card-menu></app-card-menu>
                    </div>
                </div>
                <div class="col-12 col-lg-9 left-side">
                    <div class="left-side-card">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>