<app-layout-home (userLoaded)="onUserLoaded($event)" [tabTemplates]="{dashboards}"></app-layout-home>
<ng-template #dashboards>
    <div class="project-detail-page">
        <div class="container-fuild">
            <div class="row">
                <div class="col-12 col-lg-3 right-side">
                    <div class="right-side-card">
                        <app-card-menu></app-card-menu>
                    </div>
                </div>
                <div class="col-12 col-lg-9 left-side">
                    <div class="left-side-card">
                        <div class="pcoded-content">
                            <div class="user-profile user-card mb-4">
                                <div class="card-header border-0 p-0 pb-0">
                                    <div class="cover-img-block">
                                        <img src="https://giaodichcode.com/assets/images/bannerv2/ban_source_code_kiem_them_thu_nhap.jpg"
                                            alt="Bán source code kiếm thêm thu nhập - giaodichcode.com"
                                            class="img-fluid">
                                        <div class="change-cover">
                                            <div class="dropdown">
                                                <a class="drp-icon dropdown-toggle" data-bs-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false"><i
                                                        class="icon feather icon-camera"></i></a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item"
                                                        href="https://giaodichcode.com/tai-khoan/cap-nhat-tai-khoan"
                                                        title="Cập nhật tài khoản">
                                                        Cập nhật tài khoản
                                                    </a>
                                                    <a class="dropdown-item" href="javascript:void(0)"
                                                        data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                        title="Nạp tiền tài khoản">
                                                        Nạp tiền tài khoản
                                                    </a>
                                                    <a class="dropdown-item"
                                                        href="https://giaodichcode.com/tai-khoan/tai-len"
                                                        title="Tải code lên">
                                                        Tải code lên
                                                    </a>
                                                    <a class="dropdown-item"
                                                        href="https://giaodichcode.com/tai-khoan/doi-mat-khau"
                                                        title="Đổi mật khẩu">
                                                        Đổi mật khẩu
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body py-0">
                                    <div class="user-about-block m-0">
                                        <div class="row">
                                            <div class="col-md-4 text-center mt-n5">
                                                <div class="change-profile text-center">
                                                    <div class="dropdown w-auto d-inline-block">
                                                        <a class="dropdown-toggle" data-bs-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                            <div class="profile-dp">
                                                                <div class="position-relative d-inline-block">
                                                                    <img src="https://lh3.googleusercontent.com/a/ACg8ocItJQtECrGIjRcC04hffG7Ov3Qu6OvJ7R6clhm5IT5CP5Js1w=s96-c"
                                                                        class="img-radius img-fluid wid-100"
                                                                        alt="vvc132003@gmail.com"
                                                                        title="vvc132003@gmail.com">
                                                                </div>
                                                            </div>
                                                            <div class="certificated-badge">
                                                                <i class="fas fa-check text-c-blue bg-icon"></i>
                                                                <i class="fas fa-check front-icon text-white"></i>
                                                            </div>
                                                        </a>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item"
                                                                href="https://giaodichcode.com/tai-khoan/cap-nhat-tai-khoan"
                                                                title="Cập nhật tài khoản">
                                                                Cập nhật tài khoản
                                                            </a>
                                                            <a class="dropdown-item" href="javascript:void(0)"
                                                                data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                                title="Nạp tiền tài khoản">
                                                                Nạp tiền tài khoản
                                                            </a>
                                                            <a class="dropdown-item"
                                                                href="https://giaodichcode.com/tai-khoan/tai-len"
                                                                title="Tải code lên">
                                                                Tải code lên
                                                            </a>
                                                            <a class="dropdown-item"
                                                                href="https://giaodichcode.com/tai-khoan/doi-mat-khau"
                                                                title="Đổi mật khẩu">
                                                                Đổi mật khẩu
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h5 class="mb-1">{{currentUser.fullName}}</h5>
                                                <p class="mb-2 text">
                                                    Tài khoản: <span class="text-danger fw-bold">{{currentUser.balance |
                                                        number}} đ</span>
                                                    <span class="ms-4">
                                                        Xu: <span class="text-warning fw-bold">0</span>
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="col-md-8 mt-md-4">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a [routerLink]="['/']"
                                                            class="mb-1 text-muted d-flex align-items-center text-h-primary">
                                                            <i class="fas fa-user me-2 f-18"></i>
                                                            {{currentUser.fullName}}
                                                        </a>
                                                        <div class="clearfix"></div>
                                                        <a [routerLink]="['/']"
                                                            class="mb-1 text-muted d-flex align-items-center text-h-primary">
                                                            <i class="fas fa-envelope me-2 f-18"></i>
                                                            {{currentUser.email}}
                                                        </a>
                                                        <div class="clearfix"></div>
                                                        <a [routerLink]="['/']"
                                                            class="mb-1 text-muted d-flex align-items-center text-h-primary">
                                                            <i class="fas fa-phone-alt me-2 f-18"></i>
                                                            Chưa cập nhật
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="media">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!-- Code đã bán -->
                        <div class="col-md-6 col-xl-4">
                            <div class="card bg-c-red order-card">
                                <div class="card-body">
                                    <h6 class="text-white">Code đã mua</h6>
                                    <h3 class="text-end text-white">
                                        <i class="fas fa-download float-start"></i><span>{{orderCount}}</span>
                                    </h3>
                                    <p class="m-b-0">Tháng này<span class="float-end">{{orderCount_year}}</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Tổng giao dịch -->
                        <div class="col-md-6 col-xl-4">
                            <div class="card bg-c-yellow order-card">
                                <div class="card-body">
                                    <h6 class="text-white">Số tiền đã nạp</h6>
                                    <h3 class="text-end text-white">
                                        <i class="fas fa-handshake-alt float-start"></i><span>{{currentUser.balance |
                                            number}} đ</span>
                                    </h3>
                                    <p class="m-b-0">Tháng này<span class="float-end">{{revenue_month | number}}
                                            đ</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Code tải lên -->
                        <div class="col-md-6 col-xl-4">
                            <div class="card bg-c-green order-card">
                                <div class="card-body">
                                    <h6 class="text-white">Code đã thích</h6>
                                    <h3 class="text-end text-white">
                                        <i class="fas fa-bookmark float-start"></i><span>{{favoritesCount}}</span>
                                    </h3>
                                    <p class="m-b-0">Tháng này<span class="float-end">0</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="left-side-card">
                        <div class="bear-container">
                            <div class="dashboard-header" style="justify-content: space-between;">
                                <h5>Biểu đồ tổng phí mua và đơn hàng theo tháng</h5>
                                <!-- <p> ({{orders.length}} source code)</p> -->
                                <div class="d-flex align-items-center gap-2">
                                    <label for="yearSelect" class="form-label mb-0">Chọn năm:</label>
                                    <select id="yearSelect" class="form-select" [(ngModel)]="selectedYear"
                                        (change)="onFilter()" style="width: 120px;">
                                        <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
                                    </select>
                                </div>
                            </div>
                            <app-mixed-canvas [label]="'Tổng phí mua'" [revenueData]="revenueData"
                                [orderCountData]="orderCountData"></app-mixed-canvas>
                        </div>
                    </div>
                    <br>
                    <div class="left-side-card">
                        <div class="bear-container">
                            <div class="dashboard-header">
                                <h5>Quản lý code đã mua</h5>
                                <p> ({{orders.length}} source code)</p>
                            </div>
                            <div class="filter-box" [ngClass]="{'show': showFilter}" *ngIf="showFilter || isDesktop">

                                <div class="filter-left">
                                    <div class="filter-item">
                                        <input type="text" placeholder="Từ ngày" bsDatepicker [(ngModel)]="dateFrom"
                                            [bsConfig]="{
      containerClass: 'theme-datepicker',
      dateInputFormat: 'DD/MM/YYYY',  showWeekNumbers: false

    }" (bsValueChange)="onDateFromChange($event)">
                                    </div>

                                    <div class="filter-item">
                                        <input type="text" placeholder="Đến ngày" bsDatepicker [(ngModel)]="dateTo"
                                            [bsConfig]="{
      containerClass: 'theme-datepicker',
      dateInputFormat: 'DD/MM/YYYY',  showWeekNumbers: false

    }" (bsValueChange)="onDateToChange($event)">
                                    </div>

                                </div>

                                <div class="filter-right">
                                    <div class="filter-item">
                                        <input type="text" placeholder="Nhập tên, mã..." [(ngModel)]="searchText"
                                            (input)="applyFilter()">
                                    </div>
                                </div>
                            </div>

                            <div class="bear-header ">
                                <div class="h-col title text-center">STT</div>
                                <div class="h-col title">Thể loại</div>
                                <div class="h-col title">Tiêu đề</div>
                                <div class="h-col desc">Ngôn ngữ</div>
                                <div class="h-col price">Phí tải</div>
                                <div class="h-col date">Ngày mua</div>
                                <div class="h-col zip text-center">Thao tác</div>
                            </div>

                            <div class="bear-list ">
                                <div class="bear-item" *ngFor="let item of pagedData; let i = index">
                                    <div class="h-col title text-center">
                                        {{ (currentPage - 1) * pageSize + i + 1 }}
                                    </div>
                                    <div class="col title">{{ item?.typeName || 'Website' }}</div>


                                    <div class="col title">{{ item.title }}</div>

                                    <div class="col desc">{{ item.categoryName }}</div>

                                    <div class="col price">{{ item.price | number }} đ</div>

                                    <div class="col date">{{ item.createdAt | date:'dd/MM/yyyy HH:mm' }}</div>

                                    <div class="col zip text-center">
                                        <div class="col action" (click)="$event.stopPropagation()">
                                            <button class="btn-edit">Cập nhật</button>
                                            <button class="btn-delete">Xoá</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="pagination">
                                    <button (click)="goToPage(currentPage - 1)"
                                        [disabled]="currentPage === 1">‹</button>

                                    <span>Trang {{ currentPage }} / {{ totalPages }}</span>

                                    <button (click)="goToPage(currentPage + 1)"
                                        [disabled]="currentPage === totalPages">›</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>