<div class="page-header">
    <div aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a routerLink="/home" class="breadcrumb-link">
                    <i class="fa-solid fa-house"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/home" class="breadcrumb-link">Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/home" class="breadcrumb-link">{{breadcrumb_categoryname}}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{breadcrumb_title}}</li>
        </ol>
    </div>
</div>