.project-detail-page {
  padding: 0px 72px;
  margin-top: -120px;
}

.container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.left-side {
  flex: 1;
  /* Cột này chiếm phần còn lại của không gian */
}


.left-side-card {
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 0 1px 2.94px .06px #041a3729;
  background: white;
  position: relative;
  overflow: hidden;
}

.right-side {
  flex: 0 0 25%;
  margin-left: 22px;
}

.right-side-card {
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2.94px .06px #041a3729;
  background: white;
  position: relative;
  overflow: hidden;

  .tag-item {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 14px;
    color: #fff;
    font-size: 12px;
    margin-right: 6px;
  }
}

.left-side-card::before,
.right-side-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #4e8cff, #664eff);
}




/* IMAGE PREVIEW */
.preview-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-box {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  margin-bottom: 15px;
  height: 400px;
  width: 100%;
  max-width: 600px;
  background: #f5f5f5;
}

.main-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Nút điều hướng */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(230, 221, 221, 0.4);
  color: #f40707;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  transition: background 0.3s;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.nav-btn.left {
  left: 10px;
}

.nav-btn.right {
  right: 10px;
}

.tab-pane {
  width: 100%;
  padding: 10px;
  display: none;
}

.tab-pane.active {
  display: block;
}




.thumb-list {
  display: flex;
  gap: 10px;
  margin-bottom: 18px;
  overflow-x: auto;
  padding-bottom: 5px;
  width: 100%;

  &::-webkit-scrollbar {
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  img {
    flex: 0 0 auto;
    /* giữ kích thước cố định, không co giãn */
    width: 70px;
    /* hoặc 60px tùy bạn */
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    object-fit: cover;
    transition: 0.25s;

    &:hover {
      border-color: #4d77ff;
      transform: scale(1.03);
    }

    &.active {
      border: 2px solid #4d77ff;
      /* highlight thumbnail đang chọn */
    }
  }
}

.left-side .demo-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.demo-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ff4d6b;
  border: 1px solid transparent;
  padding: .375rem .95rem;
  font-size: .875rem;
  border-radius: 2px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* TEXT CONTENT */
.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
}


/* Ensure the container is using flexbox for alignment */
.dflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the meta section (createdAt) */
.meta {
  margin-bottom: 15px;
  color: #9f9f9f !important;
  font-size: 14px;

  i {
    margin-right: 5px;
  }
}



/* Style for the rating section */
.rating {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;

  i {
    color: #ccc; // xám
  }

  i.active {
    color: #f7c600; // vàng
  }

  span {
    margin-left: 6px;
    color: #333;
  }
}

.price {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .money {
    color: #d5101c;
    flex: 1;
    font-size: 20.5px;
    font-weight: 600;
  }

  .icons {
    display: flex;
    gap: 10px;
  }

  .icon-item {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Khoảng cách giữa icon và số lượng */
  }

  .icon-item i {
    color: #777;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  .icon-item i:hover {
    transform: scale(1.1);
  }

  .count {
    font-size: 14px;
    color: #777;
  }
}

.info-line {
  margin-bottom: 10px;
  font-size: 14px;


  .category {
    color: #3a7bff;
    cursor: pointer;
    font-weight: 600;
  }
}

.free-guide {
  margin-top: 12px;

  .view-now {
    color: #0099ff;
    cursor: pointer;
    font-weight: 700;
  }
}

.report-box a {
  color: #e55353;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 500;
  align-items: center;
  list-style: none;
  text-decoration: none;

}

.report-box i {
  margin-right: 1px;
  font-size: 16px;
}

/* DOWNLOAD BUTTON */
.download-btn {
  margin-top: 25px;
  width: 100%;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(90deg, #c72cf6, #6151ff);
  color: #fff;
}


/* Nav Tabs Styles */
.nav-tabs {
  font-family: Arial, sans-serif;
  margin-top: 20px;
  width: 100%;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #333;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.nav-link:hover {
  color: #fff;
  background-color: #4d77ff;
  /* Khi hover */
}

.nav-item.active .nav-link {
  color: #fff;
  background-color: #4d77ff;
  /* Màu nền cho tab active */
  border-color: #4d77ff;
}

.tab-content {
  margin-top: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
  /* Hiển thị content của tab active */
}

.tab-pane h4 {
  margin-top: 0;
}


/* 🔥 RIGHT SIDEBAR */


.right-side-card {
  .search-title {
    border-bottom: 3px solid #ddd;
    padding-bottom: 8px;
  }
}

.mobile {
  display: none;
}


@media (max-width: 470px) {

  .project-detail-page {
    padding: 70px 11px;
    margin-bottom: -45px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }


  .title {
    font-size: 20px;
  }

  .left-side-card {
    flex-direction: column;
    align-items: center;
  }

  .left-side,
  .right-side {
    padding: 0px 24px;
  }

  .left-side-card .col-5,
  .left-side-card .col-7 {
    width: 100%;
  }

  .thumb-list {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .icons {
    margin-top: 10px;
  }

  .report-box {
    margin-top: 15px;
  }

  .demo-btn-container {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .download-btn {
    margin-top: 20px;
  }

  .right-side {
    flex: 0 0 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  .tab-content img {
    width: 100%;
  }
}
