<app-layout-home (userLoaded)="onUserLoaded($event)" [tabTemplates]="{detail}"></app-layout-home>
<ng-template #detail>

    <app-page-header [breadcrumb_categoryname]="breadcrumb_categoryname"
        (projectLatestChange)="onProjectLatestReceived($event)" [breadcrumb_title]="breadcrumb_title"></app-page-header>

    <div class="project-detail-page" *ngIf="project">
        <div class="container-fuild">
            <div class="row">
                <div class="col-12 col-lg-9 left-side">
                    <div class="row left-side-card">
                        <h1 class="title mobile">{{ project.title }}</h1>
                        <div class="col-5">
                            <div class="preview-container">
                                <button class="nav-btn left" (click)="prevImage()">&lt;</button>

                                <div class="preview-box">
                                    <img class="main-preview" [src]="mainImage" [alt]="project.title">
                                </div>

                                <button class="nav-btn right" (click)="nextImage()">&gt;</button>
                            </div>

                            <div class="thumb-list" #thumbList>
                                <img *ngFor="let img of project.images" [src]="img" alt="thumbnail"
                                    [class.active]="img === mainImage" (click)="selectImage(img)">
                            </div>
                            <div class="text-center">
                                <a class="demo-link" (click)="goToDemoTab(2)">
                                    <i class="fa fa-image"></i> Xem {{countImage}} Ảnh Demo
                                </a>
                            </div>

                        </div>
                        <div class="col-7">
                            <h1 class="title desktop">
                                {{ project.title }}.
                                <span class="code">[Mã code {{project.code}}]</span>
                            </h1>
                            <div class="rating-wrapper">
                                <div class="d-flex">
                                    <div class="rating">
                                        <i *ngFor="let s of [1,2,3,4,5]" class="fa-star"
                                            [ngClass]="s <= project.star ? 'fas active' : 'far'">
                                        </i>
                                    </div>
                                    <span class="rating-text">1 đánh giá</span>
                                    <a class="btn-write-review">
                                        <i class="fas fa-pencil-alt"></i> Viết đánh giá
                                    </a>

                                </div>


                                <div class="icons">
                                    <div class="icon-item">
                                        <i class="fa fa-eye"></i>
                                        <span class="count">{{project.viewCount}}</span>
                                    </div>
                                    <div class="icon-item">
                                        <i class="fa fa-download"></i>
                                        <span class="count">{{project.downloadCount}}</span>
                                    </div>
                                </div>

                            </div>
                            <div class="rating-hr">
                            </div>
                            <div class="price">
                                <div class="price-info">
                                    <strong>Phí tải:</strong>
                                    <span class="money">{{ project.price | number }} đ</span>
                                </div>
                            </div>
                            <div class="rating-hr">
                            </div>
                            <div class="row">
                                <div class="col-7">
                                    <div class="info-line">Danh mục: <span class="category">{{ project.categoryName
                                            }}</span>
                                    </div>
                                    <div class="info-line">Thể loại: <span class="category">{{project.typeName}}</span>
                                    </div>
                                    <div class="info-line">Ngày đăng: {{ project.createdAt |
                                        date:'dd/MM/yyyy' }}
                                    </div>
                                    <div class="info-line">Loại file: Full code
                                    </div>
                                    <div class="info-line">Dung lượng: #
                                    </div>
                                </div>
                                <div class="col-4 button">
                                    <button (click)="showisTypeOpen(project)" class="btn download-btn">
                                        ⬇ DOWNLOAD
                                    </button>

                                    <button class="btn demo-btn" (click)="goToDemoTab(3)">
                                        <i class="fa fa-desktop"></i> Xem Demo
                                    </button>
                                </div>
                            </div>
                            <div class="rating-hr">
                            </div>
                            <div class="dt-chk">
                                <div class="it-chk checked">Code đã kiểm thử</div>
                                <div class="it-chk checked">Cam kết hỗ trợ</div>
                                <div class="it-chk checked">Không chứa mã độc</div>
                                <div class="it-chk checked">Có demo thực tế</div>
                                <div class="it-chk checked">Có hướng dẫn cài đặt</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row left-side-card">
                        <div class="nav-tabs">
                            <ul class="nav">
                                <li class="nav-item" [class.active]="activeTab === 0">
                                    <a class="nav-link" (click)="selectTab(0)">Mô tả</a>
                                </li>
                                <li class="nav-item" [class.active]="activeTab === 1">
                                    <a class="nav-link" (click)="selectTab(1)">Hướng dẫn cài đặt</a>
                                </li>
                                <li class="nav-item" [class.active]="activeTab === 2">
                                    <a class="nav-link" (click)="selectTab(2)">Hình ảnh demo
                                        ({{countImage}})</a>
                                </li>
                                <li class="nav-item" [class.active]="activeTab === 3">
                                    <a class="nav-link" (click)="selectTab(3)">Xem demo source code</a>
                                </li>
                            </ul>

                            <!-- Tab content, sử dụng ngClass để điều khiển hiển thị nội dung -->
                            <div class="tab-content">
                                <div [ngClass]="{'tab-pane': true, 'active': activeTab === 0}">
                                    <div class="top-source-title">
                                        <h4><strong>MÔ TẢ</strong></h4>
                                    </div>
                                    <hr>
                                    <br>
                                    <div [innerHTML]="project.description | linebreaks"></div>
                                </div>
                                <div [ngClass]="{'tab-pane': true, 'active': activeTab === 1}">
                                    <div class="top-source-title">
                                        <h4><strong>HƯỚNG DẪN CÀI ĐẶT</strong></h4>
                                    </div>
                                    <hr>
                                    <br>
                                    <div [innerHTML]="project.installationGuide | linebreaks"></div>
                                </div>
                                <div [ngClass]="{'tab-pane': true, 'active': activeTab === 2}">
                                    <div class="top-source-title">
                                        <h4><strong>HÌNH ẢNH DEMO</strong></h4>
                                    </div>
                                    <hr>
                                    <br>
                                    <img class="main-preview" [src]="project.thumbnailUrl" [alt]="project.title">
                                    <div class="image-gallery" *ngIf="project.images?.length">
                                        <img *ngFor="let img of project.images" [src]="img" [alt]="project.title"
                                            class="main-preview">
                                    </div>
                                </div>
                                <div [ngClass]="{'tab-pane': true, 'active': activeTab === 3}">
                                    <div class="top-source-title">
                                        <h4><strong>XEM VIDEO SOURCE CODE</strong></h4>
                                    </div>
                                    <hr>
                                    <br>
                                    <div class="video-container text-center">
                                        <video width="860" height="480" controls *ngIf="safeUrl">
                                            <source [src]="safeUrl" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-3 right-side">
                    <div class="row right-side-card">
                        <div class="card-header hot-code p-t-15 p-b-0">
                            <h4 class="search-title text-danger mb-2">
                                <i class="fas fa-search"></i> Tìm kiếm cùng chủ đề
                            </h4>
                            <a class="tag-link" *ngFor="let tag of project.tags"
                                [routerLink]="['/tags-source-code', tag.slug]">
                                <div class="tag-item" [ngStyle]="{ background: tag.color }">
                                    <i style="margin-right: 10px;" [class]="tag.icon"></i>
                                    {{ tag.name }}
                                </div>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row right-side-card">
                        <app-card-header-side [oldSlug]="slug_viewCount"
                            [project_list]="project_list"></app-card-header-side>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<app-session-warning [showWarning]="showWarning" [text]="'Bạn cần đăng nhập để tải Source Code'" [buttons]="'Trang chủ'"
    [event]="'home'"></app-session-warning>

<app-modal [isTypeOpen]="isTypeOpen" [loading]="isDownloading" [currentUser]="currentUser" [project_dw]="project_dw"
    (download)="download($event)" (closeTypeModal)="closeType()"></app-modal>